uninfe/Web References/wsPRHConsulta/nfeConsultaNF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsultaNF" xmlns:impl="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsultaNF" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsultaNF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsultaNF">
      <xsd:element name="nfeConsultaNF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeCabecMsg" type="xsd:string" />
            <xsd:element name="nfeDadosMsg" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nfeConsultaNFResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeConsultaNFReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insereZeroEsquerda">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="number" type="xsd:string" />
            <xsd:element name="intLength" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insereZeroEsquerdaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="insereZeroEsquerdaReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="insereZeroEsquerdaRequest">
    <wsdl:part name="parameters" element="impl:insereZeroEsquerda" />
  </wsdl:message>
  <wsdl:message name="insereZeroEsquerdaResponse">
    <wsdl:part name="parameters" element="impl:insereZeroEsquerdaResponse" />
  </wsdl:message>
  <wsdl:message name="nfeConsultaNFRequest">
    <wsdl:part name="parameters" element="impl:nfeConsultaNF" />
  </wsdl:message>
  <wsdl:message name="nfeConsultaNFResponse">
    <wsdl:part name="parameters" element="impl:nfeConsultaNFResponse" />
  </wsdl:message>
  <wsdl:portType name="NfeConsulta">
    <wsdl:operation name="nfeConsultaNF">
      <wsdl:input name="nfeConsultaNFRequest" message="impl:nfeConsultaNFRequest" />
      <wsdl:output name="nfeConsultaNFResponse" message="impl:nfeConsultaNFResponse" />
    </wsdl:operation>
    <wsdl:operation name="insereZeroEsquerda">
      <wsdl:input name="insereZeroEsquerdaRequest" message="impl:insereZeroEsquerdaRequest" />
      <wsdl:output name="insereZeroEsquerdaResponse" message="impl:insereZeroEsquerdaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="nfeConsultaNFSoapBinding" type="impl:NfeConsulta">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeConsultaNF">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="nfeConsultaNFRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeConsultaNFResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insereZeroEsquerda">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="insereZeroEsquerdaRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="insereZeroEsquerdaResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeConsultaService">
    <wsdl:port name="nfeConsultaNF" binding="impl:nfeConsultaNFSoapBinding">
      <wsdlsoap:address location="https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeConsultaNF" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>