fontes/NFe.Components/Web References/br.gov.pr.londrina.iss/sigiss_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://iss.londrina.pr.gov.br/ws/v1_03" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://iss.londrina.pr.gov.br/ws/v1_03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://iss.londrina.pr.gov.br/ws/v1_03">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="tcDescricaoRps">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="ccm" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cnpj" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cpf" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="senha" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="aliquota" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="servico" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="codigo_obra" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="obra_art" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="situacao" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="valor" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="base" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ir" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="pis" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cofins" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="csll" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="inss" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retencao_iss" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="incentivo_fiscal" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cod_municipio_prestacao_servico" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cod_pais_prestacao_servico" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cod_municipio_incidencia" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="descricaoNF" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_tipo" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_cnpj" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_email" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_ie" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_im" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_razao" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_endereco" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_numero" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_complemento" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_bairro" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_CEP" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_cod_cidade" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_fone" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_ramal" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_fax" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_num" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_serie" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_tipo" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_dia" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_mes" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_ano" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="nfse_substituida" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_substituido" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcRetornoNota">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Resultado" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Nota" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="autenticidade" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LinkImpressao" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcDescricaoCancelaNota">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="ccm" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cnpj" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cpf" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="senha" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="nota" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cod_cancelamento" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="email" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcConsultarNfseServicoPrestadoEnvio">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ccm" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cnpj" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cpf" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="senha" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="numero_nfse" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tcConsultarRpsServicoPrestadoEnvio">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ccm" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cnpj" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cpf" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="senha" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="numero_rps" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="dia_rps" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="mes_rps" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ano_rps" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tcEstruturaDescricaoErros">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DescricaoProcesso" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DescricaoErro" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcListaErrosAlertas">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:tcEstruturaDescricaoErros" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tcConsultarCadastroContribuinteEnvio">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ccm" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cnpj" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cpf" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="senha" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cnpj_cpf_cadastro" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GerarNotaRequest">
    <wsdl:part name="DescricaoRps" type="tns:tcDescricaoRps" />
  </wsdl:message>
  <wsdl:message name="GerarNotaResponse">
    <wsdl:part name="RetornoNota" type="tns:tcRetornoNota" />
    <wsdl:part name="Mensagens" type="tns:tcListaErrosAlertas" />
  </wsdl:message>
  <wsdl:message name="CancelarNotaRequest">
    <wsdl:part name="DescricaoCancelaNota" type="tns:tcDescricaoCancelaNota" />
  </wsdl:message>
  <wsdl:message name="CancelarNotaResponse">
    <wsdl:part name="RetornoNota" type="tns:tcRetornoNota" />
    <wsdl:part name="Mensagens" type="tns:tcListaErrosAlertas" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoRequest">
    <wsdl:part name="ConsultarNfseServicoPrestadoEnvio" type="tns:tcConsultarNfseServicoPrestadoEnvio" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoResponse">
    <wsdl:part name="RetornoNota" type="xsd:string" />
    <wsdl:part name="Mensagens" type="tns:tcListaErrosAlertas" />
  </wsdl:message>
  <wsdl:message name="ConsultarRpsServicoPrestadoRequest">
    <wsdl:part name="ConsultarRpsServicoPrestadoEnvio" type="tns:tcConsultarRpsServicoPrestadoEnvio" />
  </wsdl:message>
  <wsdl:message name="ConsultarRpsServicoPrestadoResponse">
    <wsdl:part name="RetornoNota" type="xsd:string" />
    <wsdl:part name="Mensagens" type="tns:tcListaErrosAlertas" />
  </wsdl:message>
  <wsdl:message name="ConsultarCadastroContribuinteRequest">
    <wsdl:part name="ConsultarCadastroContribuinteEnvio" type="tns:tcConsultarCadastroContribuinteEnvio" />
  </wsdl:message>
  <wsdl:message name="ConsultarCadastroContribuinteResponse">
    <wsdl:part name="RetornoCadastro" type="xsd:string" />
    <wsdl:part name="Mensagens" type="tns:tcListaErrosAlertas" />
  </wsdl:message>
  <wsdl:portType name="ModuloEmissorNFSePortType">
    <wsdl:operation name="GerarNota">
      <documentation>Gera a nota fiscal eletrônica</documentation>
      <wsdl:input message="tns:GerarNotaRequest" />
      <wsdl:output message="tns:GerarNotaResponse" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNota">
      <documentation>Faz o cancelamento da nota fiscal eletrônica</documentation>
      <wsdl:input message="tns:CancelarNotaRequest" />
      <wsdl:output message="tns:CancelarNotaResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <documentation>Consulta uma nota fiscal emitida</documentation>
      <wsdl:input message="tns:ConsultarNfseServicoPrestadoRequest" />
      <wsdl:output message="tns:ConsultarNfseServicoPrestadoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarRpsServicoPrestado">
      <documentation>Consulta uma nota fiscal emitida por RPS</documentation>
      <wsdl:input message="tns:ConsultarRpsServicoPrestadoRequest" />
      <wsdl:output message="tns:ConsultarRpsServicoPrestadoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCadastroContribuinte">
      <documentation>Consulta dados cadastrais de um contribuinte</documentation>
      <wsdl:input message="tns:ConsultarCadastroContribuinteRequest" />
      <wsdl:output message="tns:ConsultarCadastroContribuinteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ModuloEmissorNFSeBinding" type="tns:ModuloEmissorNFSePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GerarNota">
      <soap:operation soapAction="http://iss.londrina.pr.gov.br/ws/v1_03#GerarNota" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://iss.londrina.pr.gov.br/ws/v1_03" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://iss.londrina.pr.gov.br/ws/v1_03" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNota">
      <soap:operation soapAction="http://iss.londrina.pr.gov.br/ws/v1_03#CancelarNota" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://iss.londrina.pr.gov.br/ws/v1_03" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://iss.londrina.pr.gov.br/ws/v1_03" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap:operation soapAction="http://iss.londrina.pr.gov.br/ws/v1_03#ConsultarNfseServicoPrestado" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://iss.londrina.pr.gov.br/ws/v1_03" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://iss.londrina.pr.gov.br/ws/v1_03" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarRpsServicoPrestado">
      <soap:operation soapAction="http://iss.londrina.pr.gov.br/ws/v1_03#ConsultarRpsServicoPrestado" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://iss.londrina.pr.gov.br/ws/v1_03" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://iss.londrina.pr.gov.br/ws/v1_03" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCadastroContribuinte">
      <soap:operation soapAction="http://iss.londrina.pr.gov.br/ws/v1_03#ConsultarCadastroContribuinte" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://iss.londrina.pr.gov.br/ws/v1_03" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://iss.londrina.pr.gov.br/ws/v1_03" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModuloEmissorNFSe">
    <wsdl:port name="ModuloEmissorNFSePort" binding="tns:ModuloEmissorNFSeBinding">
      <soap:address location="https://iss.londrina.pr.gov.br:443/ws/v1_03/sigiss_ws.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>