NFe.Components.Wsdl/CTe/WSDL/Homologacao/HPRCteCancelamento.wsdl

<wsdl:definitions targetNamespace='http://www.portalfiscal.inf.br/cte/wsdl/CteCancelamento' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:s='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tm='http://microsoft.com/wsdl/mime/textMatching/' xmlns:tns='http://www.portalfiscal.inf.br/cte/wsdl/CteCancelamento' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
 <wsdl:types>
  <s:schema elementFormDefault='qualified' targetNamespace='http://www.portalfiscal.inf.br/cte/wsdl/CteCancelamento'>
   <s:element name='cteDadosMsg'>
    <s:complexType mixed='true'>
     <s:sequence>
      <s:any/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:element name='cteCancelamentoCTResult'>
    <s:complexType mixed='true'>
     <s:sequence>
      <s:any/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:element name='cteCabecMsg' type='tns:cteCabecMsg'/>
   <s:complexType name='cteCabecMsg'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='0' name='cUF' type='s:string'/>
     <s:element maxOccurs='1' minOccurs='0' name='versaoDados' type='s:string'/>
    </s:sequence>
    <s:anyAttribute/>
   </s:complexType>
  </s:schema>
 </wsdl:types>
 <wsdl:message name='cteCancelamentoCTcteCabecMsg'>
  <wsdl:part element='tns:cteCabecMsg' name='cteCabecMsg'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='cteCancelamentoCTSoap12Out'>
  <wsdl:part element='tns:cteCancelamentoCTResult' name='cteCancelamentoCTResult'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='cteCancelamentoCTSoap12In'>
  <wsdl:part element='tns:cteDadosMsg' name='cteDadosMsg'></wsdl:part>
 </wsdl:message>
 <wsdl:portType name='CteCancelamentoSoap12'>
  <wsdl:operation name='cteCancelamentoCT'>
   <wsdl:input message='tns:cteCancelamentoCTSoap12In'></wsdl:input>
   <wsdl:output message='tns:cteCancelamentoCTSoap12Out'></wsdl:output>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name='CteCancelamentoSoap12' type='tns:CteCancelamentoSoap12'>
  <soap12:binding transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='cteCancelamentoCT'>
   <soap12:operation soapAction='http://www.portalfiscal.inf.br/cte/wsdl/CteCancelamento/cteCancelamentoCT' style='document'/>
   <wsdl:input>
    <soap12:body use='literal'/>
    <soap12:header message='tns:cteCancelamentoCTcteCabecMsg' part='cteCabecMsg' use='literal'></soap12:header>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use='literal'/>
    <soap12:header message='tns:cteCancelamentoCTcteCabecMsg' part='cteCabecMsg' use='literal'></soap12:header>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name='CteCancelamento'>
  <wsdl:port binding='tns:CteCancelamentoSoap12' name='CteCancelamentoServicePort'>
   <soap12:address location='https://homologacao.cte.fazenda.pr.gov.br/cte/CteCancelamento'/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>