fontes/NFe.Components.Wsdl/NFe/WSDL/Homologacao/SP/HSPcteRecepcaoOS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoOS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoOS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado à recepção de mensagens de CT-e (Outros Serviços).</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoOS">
      <s:element name="cteDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cteRecepcaoOSResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cteCabecMsg" type="tns:cteCabecMsg" />
      <s:complexType name="cteCabecMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cteRecepcaoOSSoap12In">
    <wsdl:part name="cteDadosMsg" element="tns:cteDadosMsg" />
  </wsdl:message>
  <wsdl:message name="cteRecepcaoOSSoap12Out">
    <wsdl:part name="cteRecepcaoOSResult" element="tns:cteRecepcaoOSResult" />
  </wsdl:message>
  <wsdl:message name="cteRecepcaoOScteCabecMsg">
    <wsdl:part name="cteCabecMsg" element="tns:cteCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="CteRecepcaoOSSoap12">
    <wsdl:operation name="cteRecepcaoOS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recepção de mensagens de CT-e (Outros Serviços)</wsdl:documentation>
      <wsdl:input message="tns:cteRecepcaoOSSoap12In" />
      <wsdl:output message="tns:cteRecepcaoOSSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CteRecepcaoOSSoap12" type="tns:CteRecepcaoOSSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cteRecepcaoOS">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoOS/cteRecepcaoOS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:cteRecepcaoOScteCabecMsg" part="cteCabecMsg" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:cteRecepcaoOScteCabecMsg" part="cteCabecMsg" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CteRecepcaoOS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado à recepção de mensagens de CT-e (Outros Serviços).</wsdl:documentation>
    <wsdl:port name="CteRecepcaoOSSoap12" binding="tns:CteRecepcaoOSSoap12">
      <soap12:address location="https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteRecepcaoOS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>