fontes/NFe.Components.Wsdl/NFe/WSDL/Homologacao/MG/HMGCteRecepcaoOS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoOS" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoOS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoOS" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoOS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <s:element name="cteDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cteRecepcaoOSResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cteCabecMsg" type="tns:cteCabecMsg" />
      <s:complexType name="cteCabecMsg">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="cUF" type="s:string" />
          <s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cteRecepcaoOScteCabecMsg">
    <wsdl:part element="tns:cteCabecMsg" name="cteCabecMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cteRecepcaoOSSoap12In">
    <wsdl:part element="tns:cteDadosMsg" name="cteDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cteRecepcaoOSSoap12Out">
    <wsdl:part element="tns:cteRecepcaoOSResult" name="cteRecepcaoOSResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CteRecepcaoOSSoap12">
    <wsdl:operation name="cteRecepcaoOS">
      <wsdl:input message="tns:cteRecepcaoOSSoap12In">
    </wsdl:input>
      <wsdl:output message="tns:cteRecepcaoOSSoap12Out">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CteRecepcaoOSSoap12" type="tns:CteRecepcaoOSSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cteRecepcaoOS">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoOS/cteRecepcaoOS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:cteRecepcaoOScteCabecMsg" part="cteCabecMsg" use="literal">
        </soap12:header>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:cteRecepcaoOScteCabecMsg" part="cteCabecMsg" use="literal">
        </soap12:header>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CteRecepcaoOS">
    <wsdl:port binding="tns:CteRecepcaoOSSoap12" name="CteRecepcaoOSSoap12">
      <soap12:address location="https://cte.fazenda.mg.gov.br/cte/services/CteRecepcaoOS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>