fontes/NFe.Components.Wsdl/NFe/WSDL/Homologacao/MG/HMGNfeConsulta_400.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NFeConsulta4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsulta4" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsulta4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsulta4" version="1.0" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsulta4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="nfeDadosMsg">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="nfeResultMsg" type="tns:nFeConsulta4Result" />
<xs:complexType name="nFeConsulta4Result">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="retConsSitNFe" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeConsulta4Response">
    <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nfeConsulta4">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NFeConsulta4Soap">
    <wsdl:operation name="nfeConsulta4">
      <wsdl:input message="tns:nfeConsulta4" name="nfeConsulta4">
    </wsdl:input>
      <wsdl:output message="tns:nfeConsulta4Response" name="nfeConsulta4Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeConsulta4SoapBinding" type="tns:NFeConsulta4Soap">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeConsulta4">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsulta4/NFeConsulta4" style="document" />
      <wsdl:input name="nfeConsulta4">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeConsulta4Response">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeConsulta4">
    <wsdl:port binding="tns:NFeConsulta4SoapBinding" name="NFeConsulta4Soap12">
      <soap12:address location="https://hnfe.fazenda.mg.gov.br/nfe2/services/NFeConsulta4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>