fontes/NFe.Components.Wsdl/NFe/WSDL/Homologacao/MG/HMGRegistrarSaida2.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/RegistrarSaida2" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/RegistrarSaida2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/RegistrarSaida2" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/RegistrarSaida2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<s:element name="nfeDadosMsg">
				<s:complexType mixed="true">
					<s:sequence>
						<s:any/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="retEnvRegSaidaResult">
				<s:complexType mixed="true">
					<s:sequence>
						<s:any/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
			<s:complexType name="nfeCabecMsg">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="0" name="cUF" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
		</s:schema>
  </wsdl:types>
  <wsdl:message name="registrarSaidaSoap12Out">
    <wsdl:part element="tns:retEnvRegSaidaResult" name="retEnvRegSaidaResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarSaidaSoap12In">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarSaidanfeCabecMsg">
    <wsdl:part element="tns:nfeCabecMsg" name="nfeCabecMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegistroSaida2Soap">
    <wsdl:operation name="registrarSaida">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registro de Saida</wsdl:documentation>
      <wsdl:input message="tns:registrarSaidaSoap12In">
    </wsdl:input>
      <wsdl:output message="tns:registrarSaidaSoap12Out">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistroSaida2Soap" type="tns:RegistroSaida2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registrarSaida">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/RegistrarSaida2/registrarSaida" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:registrarSaidanfeCabecMsg" part="nfeCabecMsg" use="literal">
        </soap12:header>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:registrarSaidanfeCabecMsg" part="nfeCabecMsg" use="literal">
        </soap12:header>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistroSaida2">
    <wsdl:port binding="tns:RegistroSaida2Soap" name="RegistroSaida2Soap">
      <soap12:address location="https://hnfe.fazenda.mg.gov.br/nfe2/services/RegistrarSaida2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>