uninfe/Web References/wsMTHRecepcao/NfeRecepcao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao" xmlns:impl="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao">
      <xsd:element name="nfeRecepcaoLote">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeCabecMsg" type="xsd:string" />
            <xsd:element name="nfeDadosMsg" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nfeRecepcaoLoteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeRecepcaoLoteResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="nfeRecepcaoLoteResponse">
    <wsdl:part name="parameters" element="impl:nfeRecepcaoLoteResponse" />
  </wsdl:message>
  <wsdl:message name="nfeRecepcaoLoteRequest">
    <wsdl:part name="parameters" element="impl:nfeRecepcaoLote" />
  </wsdl:message>
  <wsdl:portType name="NfeRecepcao">
    <wsdl:operation name="nfeRecepcaoLote">
      <wsdl:input name="nfeRecepcaoLoteRequest" message="impl:nfeRecepcaoLoteRequest" />
      <wsdl:output name="nfeRecepcaoLoteResponse" message="impl:nfeRecepcaoLoteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeRecepcaoSoapBinding" type="impl:NfeRecepcao">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeRecepcaoLote">
      <wsdlsoap:operation soapAction="nfeRecepcaoLote" />
      <wsdl:input name="nfeRecepcaoLoteRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeRecepcaoLoteResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeRecepcao">
    <wsdl:port name="NfeRecepcao" binding="impl:NfeRecepcaoSoapBinding">
      <wsdlsoap:address location="https://homologacao.sefaz.mt.gov.br/nfews/NfeRecepcao" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>