fontes/NFe.Components/Web References/PBlumenauSC/nfseservice0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.sistema.com.br/Sistema.Ws.Nfse" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sistema.com.br/Sistema.Ws.Nfse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.sistema.com.br/Sistema.Ws.Nfse/Imports">
      <xsd:import schemaLocation="http://wsblumenau.simplissweb.com.br/nfseservice.svc?xsd=xsd0" namespace="http://www.sistema.com.br/Sistema.Ws.Nfse" />
      <xsd:import schemaLocation="http://wsblumenau.simplissweb.com.br/nfseservice.svc?xsd=xsd1" namespace="http://www.abrasf.org.br/nfse.xsd" />
      <xsd:import schemaLocation="http://wsblumenau.simplissweb.com.br/nfseservice.svc?xsd=xsd2" namespace="http://www.w3.org/2000/09/xmldsig#" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INfseService_Versao_InputMessage">
    <wsdl:part name="parameters" element="tns:Versao" />
  </wsdl:message>
  <wsdl:message name="INfseService_Versao_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersaoResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_RecepcionarLoteRps_InputMessage">
    <wsdl:part name="parameters" element="tns:RecepcionarLoteRps" />
  </wsdl:message>
  <wsdl:message name="INfseService_RecepcionarLoteRps_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecepcionarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_EnviarLoteRpsSincrono_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarLoteRpsSincrono" />
  </wsdl:message>
  <wsdl:message name="INfseService_EnviarLoteRpsSincrono_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarLoteRpsSincronoResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_GerarNfse_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarNfse" />
  </wsdl:message>
  <wsdl:message name="INfseService_GerarNfse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_CancelarNfse_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarNfse" />
  </wsdl:message>
  <wsdl:message name="INfseService_CancelarNfse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_SubstituirNfse_InputMessage">
    <wsdl:part name="parameters" element="tns:SubstituirNfse" />
  </wsdl:message>
  <wsdl:message name="INfseService_SubstituirNfse_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstituirNfseResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarLoteRps_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRps" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarLoteRps_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseRps_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseRps" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseRps_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseRpsResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseServicoPrestado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoPrestado" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseServicoPrestado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoPrestadoResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseServicoTomado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoTomado" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseServicoTomado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseServicoTomadoResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseFaixa_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseFaixa" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarNfseFaixa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarNfseFaixaResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_GerarCfse_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarCfse" />
  </wsdl:message>
  <wsdl:message name="INfseService_GerarCfse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarCfseResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarCfse_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCfse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarCfse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCfseResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_CancelarCfse_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCfse" />
  </wsdl:message>
  <wsdl:message name="INfseService_CancelarCfse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCfseResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_GerarCfseHomologacao_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarCfseHomologacao" />
  </wsdl:message>
  <wsdl:message name="INfseService_GerarCfseHomologacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarCfseHomologacaoResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarCfseHomologacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCfseHomologacao" />
  </wsdl:message>
  <wsdl:message name="INfseService_ConsultarCfseHomologacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCfseHomologacaoResponse" />
  </wsdl:message>
  <wsdl:message name="INfseService_CancelarCfseHomologacao_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCfseHomologacao" />
  </wsdl:message>
  <wsdl:message name="INfseService_CancelarCfseHomologacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCfseHomologacaoResponse" />
  </wsdl:message>
  <wsdl:portType name="INfseService">
    <wsdl:operation name="Versao">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/Versao" message="tns:INfseService_Versao_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/VersaoResponse" message="tns:INfseService_Versao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/RecepcionarLoteRps" message="tns:INfseService_RecepcionarLoteRps_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/RecepcionarLoteRpsResponse" message="tns:INfseService_RecepcionarLoteRps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarLoteRpsSincrono">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/EnviarLoteRpsSincrono" message="tns:INfseService_EnviarLoteRpsSincrono_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/EnviarLoteRpsSincronoResponse" message="tns:INfseService_EnviarLoteRpsSincrono_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/GerarNfse" message="tns:INfseService_GerarNfse_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/GerarNfseResponse" message="tns:INfseService_GerarNfse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNfse">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/CancelarNfse" message="tns:INfseService_CancelarNfse_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/CancelarNfseResponse" message="tns:INfseService_CancelarNfse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/SubstituirNfse" message="tns:INfseService_SubstituirNfse_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/SubstituirNfseResponse" message="tns:INfseService_SubstituirNfse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarLoteRps" message="tns:INfseService_ConsultarLoteRps_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarLoteRpsResponse" message="tns:INfseService_ConsultarLoteRps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseRps">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseRps" message="tns:INfseService_ConsultarNfseRps_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseRpsResponse" message="tns:INfseService_ConsultarNfseRps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseServicoPrestado" message="tns:INfseService_ConsultarNfseServicoPrestado_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseServicoPrestadoResponse" message="tns:INfseService_ConsultarNfseServicoPrestado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseServicoTomado" message="tns:INfseService_ConsultarNfseServicoTomado_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseServicoTomadoResponse" message="tns:INfseService_ConsultarNfseServicoTomado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseFaixa">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseFaixa" message="tns:INfseService_ConsultarNfseFaixa_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarNfseFaixaResponse" message="tns:INfseService_ConsultarNfseFaixa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarCfse">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/GerarCfse" message="tns:INfseService_GerarCfse_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/GerarCfseResponse" message="tns:INfseService_GerarCfse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCfse">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarCfse" message="tns:INfseService_ConsultarCfse_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarCfseResponse" message="tns:INfseService_ConsultarCfse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCfse">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/CancelarCfse" message="tns:INfseService_CancelarCfse_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/CancelarCfseResponse" message="tns:INfseService_CancelarCfse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarCfseHomologacao">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/GerarCfseHomologacao" message="tns:INfseService_GerarCfseHomologacao_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/GerarCfseHomologacaoResponse" message="tns:INfseService_GerarCfseHomologacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCfseHomologacao">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarCfseHomologacao" message="tns:INfseService_ConsultarCfseHomologacao_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/ConsultarCfseHomologacaoResponse" message="tns:INfseService_ConsultarCfseHomologacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCfseHomologacao">
      <wsdl:input wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/CancelarCfseHomologacao" message="tns:INfseService_CancelarCfseHomologacao_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sistema.com.br/Sistema.Ws.Nfse/INfseService/CancelarCfseHomologacaoResponse" message="tns:INfseService_CancelarCfseHomologacao_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>