fontes/NFe.Components/Web References/PBlumenauSC/nfseservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.abrasf.org.br/nfse.xsd" elementFormDefault="qualified" targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsblumenau.simplissweb.com.br/nfseservice.svc?xsd=xsd2" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:complexType name="EnviarLoteRpsEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LoteRps" type="tns:tcLoteRps" />
      <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q1:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcLoteRps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroLote" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="QuantidadeRps" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ListaRps" type="tns:ArrayOfTcDeclaracaoPrestacaoServico" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
    <xs:attribute name="versao" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="tcCpfCnpj">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="Cnpj" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Cpf" type="xs:string" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTcDeclaracaoPrestacaoServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rps" type="tns:tcDeclaracaoPrestacaoServico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDeclaracaoPrestacaoServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InfDeclaracaoPrestacaoServico" type="tns:tcInfDeclaracaoPrestacaoServico" />
      <xs:element xmlns:q2="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q2:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfDeclaracaoPrestacaoServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Rps" type="tns:tcInfRps" />
      <xs:element minOccurs="1" maxOccurs="1" name="Competencia" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="Servico" type="tns:tcDadosServico" />
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tomador" type="tns:tcDadosTomador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Intermediario" type="tns:tcDadosIntermediario" />
      <xs:element minOccurs="0" maxOccurs="1" name="ConstrucaoCivil" type="tns:tcDadosConstrucaoCivil" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegimeEspecialTributacao" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="OptanteSimplesNacional" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="IncentivoFiscal" type="xs:byte" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcInfRps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:tcIdentificacaoRps" />
      <xs:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:byte" />
      <xs:element minOccurs="0" maxOccurs="1" name="RpsSubstituido" type="tns:tcIdentificacaoRps" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoRps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="Serie" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tipo" type="xs:byte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Valores" type="tns:tcValoresDeclaracaoServico" />
      <xs:element minOccurs="1" maxOccurs="1" name="IssRetido" type="xs:byte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResponsavelRetencao" type="xs:byte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ItemListaServico" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoCnae" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTributacaoMunicipio" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Discriminacao" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoPais" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExigibilidadeISS" type="xs:byte" />
      <xs:element minOccurs="0" maxOccurs="1" name="MunicipioIncidencia" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroProcesso" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcValoresDeclaracaoServico">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ValorServicos" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorDeducoes" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorPis" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorCofins" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorInss" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorIr" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorCsll" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutrasRetencoes" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorIss" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="DescontoIncondicionado" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="DescontoCondicionado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoPrestador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosTomador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoTomador" type="tns:tcIdentificacaoTomador" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Endereco" type="tns:tcEndereco" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:tcContato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoTomador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcEndereco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Endereco" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Complemento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Bairro" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Uf" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoPais" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Cep" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcContato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Telefone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosIntermediario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoIntermediario" type="tns:tcIdentificacaoIntermediario" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoIntermediario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosConstrucaoCivil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoObra" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Art" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnviarLoteRpsResposta">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="1" maxOccurs="1" name="DataRecebimento" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NumeroLote" type="xs:nonNegativeInteger" />
        <xs:element minOccurs="0" maxOccurs="1" name="Protocolo" type="xs:string" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcMensagemRetorno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mensagem" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Correcao" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnviarLoteRpsSincronoEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LoteRps" type="tns:tcLoteRps" />
      <xs:element xmlns:q3="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q3:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnviarLoteRpsSincronoResposta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroLote" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="DataRecebimento" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Protocolo" type="xs:string" />
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetornoLote">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetornoLote" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse" />
              <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemAlertaRetorno" type="tns:ArrayOfTcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcMensagemRetornoLote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:tcIdentificacaoRps" />
      <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mensagem" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCompNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Nfse" type="tns:tcNfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="NfseCancelamento" type="tns:tcCancelamentoNfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituicao" type="tns:tcSubstituicaoNfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InfNfse" type="tns:tcInfNfse" />
      <xs:element xmlns:q4="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q4:Signature" />
    </xs:sequence>
    <xs:attribute name="versao" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="tcInfNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoVerificacao" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituida" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutrasInformacoes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValoresNfse" type="tns:tcValoresNfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorCredito" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrestadorServico" type="tns:tcDadosPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrgaoGerador" type="tns:tcIdentificacaoOrgaoGerador" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeclaracaoPrestacaoServico" type="tns:tcDeclaracaoPrestacaoServico" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcValoresNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BaseCalculo" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorIss" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorLiquidoNfse" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosPrestador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoPrestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NomeFantasia" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Endereco" type="tns:tcEndereco" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:tcContato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoOrgaoGerador">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Uf" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCancelamentoNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Confirmacao" type="tns:tcConfirmacaoCancelamento" />
      <xs:element xmlns:q5="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q5:Signature" />
    </xs:sequence>
    <xs:attribute name="versao" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="tcConfirmacaoCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:tcPedidoCancelamento" />
      <xs:element minOccurs="1" maxOccurs="1" name="DataHora" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcPedidoCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InfPedidoCancelamento" type="tns:tcInfPedidoCancelamento" />
      <xs:element xmlns:q6="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q6:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfPedidoCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoNfse" type="tns:tcIdentificacaoNfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoCancelamento" type="xs:byte" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcSubstituicaoNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SubstituicaoNfse" type="tns:tcInfSubstituicaoNfse" />
      <xs:element xmlns:q7="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" ref="q7:Signature" />
    </xs:sequence>
    <xs:attribute name="versao" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="tcInfSubstituicaoNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituidora" type="xs:nonNegativeInteger" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfTcMensagemRetorno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GerarNfseEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Rps" type="tns:tcDeclaracaoPrestacaoServico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GerarNfseResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="CompNfse" type="tns:tcCompNfse" />
              <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemAlertaRetorno" type="tns:ArrayOfTcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarNfseEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:tcPedidoCancelamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarNfseResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="RetCancelamento" type="tns:tcRetCancelamento" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcRetCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NfseCancelamento" type="tns:tcCancelamentoNfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubstituirNfseEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SubstituicaoNfse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:tcPedidoCancelamento" />
            <xs:element minOccurs="0" maxOccurs="1" name="Rps" type="tns:tcDeclaracaoPrestacaoServico" />
          </xs:sequence>
          <xs:attribute name="Id" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q8="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q8:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubstituirNfseResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="RetSubstituicao">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituida">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="CompNfse" type="tns:tcCompNfse" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemAlertaRetorno" type="tns:ArrayOfTcMensagemRetorno" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituidora">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="CompNfse" type="tns:tcCompNfse" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarLoteRpsEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Protocolo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarLoteRpsResposta">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Situacao" type="xs:byte" />
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetornoLote">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetornoLote" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse" />
              <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemAlertaRetorno" type="tns:ArrayOfTcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseRpsEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:tcIdentificacaoRps" />
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseRpsResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="CompNfse" type="tns:tcCompNfse" />
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseServicoPrestadoEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroNfse" type="xs:nonNegativeInteger" />
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="PeriodoCompetencia">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="DataInicial" type="xs:date" />
              <xs:element minOccurs="1" maxOccurs="1" name="DataFinal" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="PeriodoEmissao">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="DataInicial" type="xs:date" />
              <xs:element minOccurs="1" maxOccurs="1" name="DataFinal" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="Tomador" type="tns:tcIdentificacaoTomador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Intermediario" type="tns:tcIdentificacaoIntermediario" />
      <xs:element minOccurs="0" maxOccurs="1" name="Pagina" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseServicoPrestadoResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse" />
              <xs:element minOccurs="0" maxOccurs="1" name="ProximaPagina" type="xs:nonNegativeInteger" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseServicoTomadoEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Consulente" type="tns:tcIdentificacaoConsulente" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroNfse" type="xs:nonNegativeInteger" />
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="PeriodoCompetencia">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="DataInicial" type="xs:date" />
              <xs:element minOccurs="1" maxOccurs="1" name="DataFinal" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="PeriodoEmissao">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="DataInicial" type="xs:date" />
              <xs:element minOccurs="1" maxOccurs="1" name="DataFinal" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tomador" type="tns:tcIdentificacaoTomador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Intermediario" type="tns:tcIdentificacaoIntermediario" />
      <xs:element minOccurs="0" maxOccurs="1" name="Pagina" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoConsulente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseServicoTomadoResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse" />
              <xs:element minOccurs="0" maxOccurs="1" name="ProximaPagina" type="xs:nonNegativeInteger" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseFaixaEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Faixa">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="NumeroNfseInicial" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" maxOccurs="1" name="NumeroNfseFinal" type="xs:nonNegativeInteger" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Pagina" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseFaixaResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse" />
              <xs:element minOccurs="0" maxOccurs="1" name="ProximaPagina" type="xs:nonNegativeInteger" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GerarCfseEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Rps" type="tns:tcDeclaracaoPrestacaoServicoCfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDeclaracaoPrestacaoServicoCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InfDeclaracaoPrestacaoServicoCfse" type="tns:tcInfDeclaracaoPrestacaoServicoCfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfDeclaracaoPrestacaoServicoCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Rps" type="tns:tcInfRpsCfse" />
      <xs:element minOccurs="1" maxOccurs="1" name="Competencia" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="Servico" type="tns:tcDadosServicoCfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tomador" type="tns:tcDadosTomadorCfse" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcInfRpsCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Serie" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:byte" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcDadosServicoCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Valores" type="tns:tcValoresDeclaracaoServicoCfse" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItensServico" type="tns:tcItemServicoCfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcValoresDeclaracaoServicoCfse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ValorServicos" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseCalculo" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorDeducoes" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorIss" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcItemServicoCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Descricao" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Cnae" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Atividade" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorDeducoes" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorIss" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosTomadorCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoTomador" type="tns:tcIdentificacaoTomadorCfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:tcContato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoTomadorCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Cpf" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GerarCfseResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaCfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="CompCfse" type="tns:tcCompCfse" />
              <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemAlertaRetorno" type="tns:ArrayOfTcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCompCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Cfse" type="tns:tcCfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="NfseCancelamento" type="tns:tcCancelamentoCfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InfCfse" type="tns:tcInfCfse" />
      <xs:element xmlns:q9="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q9:Signature" />
    </xs:sequence>
    <xs:attribute name="versao" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="tcInfCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoVerificacao" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutrasInformacoes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValoresCfse" type="tns:tcValoresCfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrestadorServico" type="tns:tcDadosPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrgaoGerador" type="tns:tcIdentificacaoOrgaoGerador" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeclaracaoPrestacaoServico" type="tns:tcDeclaracaoPrestacaoServicoCfse" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcValoresCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BaseCalculo" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorDeducao" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorIss" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCancelamentoCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Confirmacao" type="tns:tcConfirmacaoCancelamentoCfse" />
      <xs:element xmlns:q10="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q10:Signature" />
    </xs:sequence>
    <xs:attribute name="versao" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="tcConfirmacaoCancelamentoCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:tcPedidoCancelamentoCfse" />
      <xs:element minOccurs="1" maxOccurs="1" name="DataHora" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcPedidoCancelamentoCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InfPedidoCancelamento" type="tns:tcInfPedidoCancelamentoCfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfPedidoCancelamentoCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoNfse" type="tns:tcIdentificacaoCfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoCancelamento" type="xs:byte" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarCfseEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroCfse" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarCfseResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaCfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompCfse" />
              <xs:element minOccurs="0" maxOccurs="1" name="ProximaPagina" type="xs:nonNegativeInteger" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarCfseEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:tcPedidoCancelamentoCfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarCfseResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="RetCancelamento" type="tns:tcRetCancelamentoCfse" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcRetCancelamentoCfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CfseCancelamento" type="tns:tcCancelamentoCfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GerarCfseEnvioHomologacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Rps" type="tns:tcDeclaracaoPrestacaoServicoCfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarCfseEnvioHomologacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroCfse" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarCfseEnvioHomologacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:tcPedidoCancelamentoCfse" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>