fontes/NFe.Components/Web References/PTangaraDaSerraMT/nfse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ws="http://nfse.abrasf.org.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="nfse" targetNamespace="http://nfse.abrasf.org.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nfse.abrasf.org.br">
      <xsd:complexType name="input">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="nfseCabecMsg" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="nfseDadosMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="output">
        <xsd:sequence>
          <xsd:element name="outputXML" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CancelarNfseRequest" type="ws:input" />
      <xsd:element name="CancelarNfseResponse" type="ws:output" />
      <xsd:element name="ConsultarLoteRpsRequest" type="ws:input" />
      <xsd:element name="ConsultarLoteRpsResponse" type="ws:output" />
      <xsd:element name="ConsultarNfseServicoPrestadoRequest" type="ws:input" />
      <xsd:element name="ConsultarNfseServicoPrestadoResponse" type="ws:output" />
      <xsd:element name="ConsultarNfseServicoTomadoRequest" type="ws:input" />
      <xsd:element name="ConsultarNfseServicoTomadoResponse" type="ws:output" />
      <xsd:element name="ConsultarNfsePorFaixaRequest" type="ws:input" />
      <xsd:element name="ConsultarNfsePorFaixaResponse" type="ws:output" />
      <xsd:element name="ConsultarNfsePorRpsRequest" type="ws:input" />
      <xsd:element name="ConsultarNfsePorRpsResponse" type="ws:output" />
      <xsd:element name="RecepcionarLoteRpsRequest" type="ws:input" />
      <xsd:element name="RecepcionarLoteRpsResponse" type="ws:output" />
      <xsd:element name="GerarNfseRequest" type="ws:input" />
      <xsd:element name="GerarNfseResponse" type="ws:output" />
      <xsd:element name="SubstituirNfseRequest" type="ws:input" />
      <xsd:element name="SubstituirNfseResponse" type="ws:output" />
      <xsd:element name="RecepcionarLoteRpsSincronoRequest" type="ws:input" />
      <xsd:element name="RecepcionarLoteRpsSincronoResponse" type="ws:output" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CancelarNfseRequest">
    <wsdl:part name="parameters" element="ws:CancelarNfseRequest" />
  </wsdl:message>
  <wsdl:message name="CancelarNfseResponse">
    <wsdl:part name="parameters" element="ws:CancelarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsRequest">
    <wsdl:part name="parameters" element="ws:ConsultarLoteRpsRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsResponse">
    <wsdl:part name="parameters" element="ws:ConsultarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNfseServicoPrestadoRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoPrestadoResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNfseServicoPrestadoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomadoRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNfseServicoTomadoRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseServicoTomadoResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNfseServicoTomadoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorFaixaRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNfsePorFaixaRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorFaixaResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNfsePorFaixaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRpsRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNfsePorRpsRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfsePorRpsResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNfsePorRpsResponse" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsRequest">
    <wsdl:part name="parameters" element="ws:RecepcionarLoteRpsRequest" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsResponse">
    <wsdl:part name="parameters" element="ws:RecepcionarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="GerarNfseRequest">
    <wsdl:part name="parameters" element="ws:GerarNfseRequest" />
  </wsdl:message>
  <wsdl:message name="GerarNfseResponse">
    <wsdl:part name="parameters" element="ws:GerarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="SubstituirNfseRequest">
    <wsdl:part name="parameters" element="ws:SubstituirNfseRequest" />
  </wsdl:message>
  <wsdl:message name="SubstituirNfseResponse">
    <wsdl:part name="parameters" element="ws:SubstituirNfseResponse" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSincronoRequest">
    <wsdl:part name="parameters" element="ws:RecepcionarLoteRpsSincronoRequest" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsSincronoResponse">
    <wsdl:part name="parameters" element="ws:RecepcionarLoteRpsSincronoResponse" />
  </wsdl:message>
  <wsdl:portType name="nfse">
    <wsdl:operation name="CancelarNfse">
      <wsdl:input message="ws:CancelarNfseRequest" />
      <wsdl:output message="ws:CancelarNfseResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:input message="ws:ConsultarLoteRpsRequest" />
      <wsdl:output message="ws:ConsultarLoteRpsResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <wsdl:input message="ws:ConsultarNfseServicoPrestadoRequest" />
      <wsdl:output message="ws:ConsultarNfseServicoPrestadoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <wsdl:input message="ws:ConsultarNfseServicoTomadoRequest" />
      <wsdl:output message="ws:ConsultarNfseServicoTomadoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <wsdl:input message="ws:ConsultarNfsePorFaixaRequest" />
      <wsdl:output message="ws:ConsultarNfsePorFaixaResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <wsdl:input message="ws:ConsultarNfsePorRpsRequest" />
      <wsdl:output message="ws:ConsultarNfsePorRpsResponse" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:input message="ws:RecepcionarLoteRpsRequest" />
      <wsdl:output message="ws:RecepcionarLoteRpsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <wsdl:input message="ws:GerarNfseRequest" />
      <wsdl:output message="ws:GerarNfseResponse" />
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <wsdl:input message="ws:SubstituirNfseRequest" />
      <wsdl:output message="ws:SubstituirNfseResponse" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <wsdl:input message="ws:RecepcionarLoteRpsSincronoRequest" />
      <wsdl:output message="ws:RecepcionarLoteRpsSincronoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="nfseSOAP" type="ws:nfse">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/CancelarNfse" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarLoteRps" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoPrestado">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfseServicoPrestado" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseServicoTomado">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfseServicoTomado" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorFaixa">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfsePorFaixa" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfsePorRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfsePorRps" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/RecepcionarLoteRps" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/GerarNfse" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstituirNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/SubstituirNfse" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRpsSincrono">
      <soap:operation soapAction="http://nfse.abrasf.org.br/RecepcionarLoteRpsSincrono" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfseWSService">
    <wsdl:port name="nfseSOAP" binding="ws:nfseSOAP">
      <soap:address location="https://cidadaoonline.tangaradaserra.mt.gov.br/webservice/nfse" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>