uninfe/Web References/wsCEPConsulta/NfeConsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta">
      <s:element name="nfeConsultaNF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nfeCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nfeDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeConsultaNFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nfeConsultaNFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nfeConsultaNFSoapIn">
    <wsdl:part name="parameters" element="tns:nfeConsultaNF" />
  </wsdl:message>
  <wsdl:message name="nfeConsultaNFSoapOut">
    <wsdl:part name="parameters" element="tns:nfeConsultaNFResponse" />
  </wsdl:message>
  <wsdl:portType name="NfeConsulta">
    <wsdl:operation name="nfeConsultaNF">
      <wsdl:input message="tns:nfeConsultaNFSoapIn" />
      <wsdl:output message="tns:nfeConsultaNFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeConsulta" type="tns:NfeConsulta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeConsultaNF">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta/nfeConsultaNF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeConsulta">
    <wsdl:port name="NfeConsulta" binding="tns:NfeConsulta">
      <soap:address location="https://nfe.sefaz.ce.gov.br:443/nfe/services/NfeConsulta" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>