fontes/NFe.Components/Web References/PArarasSP/nfseservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sistema.com.br/Nfse/arquivos/nfse_3.xsd" elementFormDefault="qualified" targetNamespace="http://www.sistema.com.br/Nfse/arquivos/nfse_3.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://189.56.68.34:8080/ws_araras/nfseservice.svc?xsd=xsd2" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:complexType name="EnviarLoteRpsEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LoteRps" type="tns:tcLoteRps" />
      <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q1:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcLoteRps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroLote" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="Cnpj" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="QuantidadeRps" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ListaRps" type="tns:ArrayOfTcRps" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfTcRps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rps" type="tns:tcRps" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcRps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InfRps" type="tns:tcInfRps" />
      <xs:element xmlns:q2="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q2:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfRps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:tcIdentificacaoRps" />
      <xs:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="NaturezaOperacao" type="xs:byte" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegimeEspecialTributacao" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="OptanteSimplesNacional" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="IncentivadorCultural" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:byte" />
      <xs:element minOccurs="0" maxOccurs="1" name="RpsSubstituido" type="tns:tcIdentificacaoRps" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutrasInformacoes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Servico" type="tns:tcDadosServico" />
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tomador" type="tns:tcDadosTomador" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntermediarioServico" type="tns:tcIdentificacaoIntermediarioServico" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContrucaoCivil" type="tns:tcDadosConstrucaoCivil" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoRps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="Serie" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tipo" type="xs:byte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Valores" type="tns:tcValores" />
      <xs:element minOccurs="0" maxOccurs="1" name="ItemListaServico" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoCnae" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTributacaoMunicipio" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Discriminacao" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItensServico" type="tns:tcItemServico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcValores">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ValorServicos" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorDeducoes" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorPis" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorCofins" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorInss" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorIr" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorCsll" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IssRetido" type="xs:byte" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorIss" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorIssRetido" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutrasRetencoes" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="BaseCalculo" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Aliquota" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorLiquidoNfse" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="DescontoIncondicionado" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="DescontoCondicionado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcItemServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Descricao" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="IssTributavel" type="xs:byte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoPrestador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Cnpj" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosTomador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoTomador" type="tns:tcIdentificacaoTomador" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Endereco" type="tns:tcEndereco" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:tcContato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoTomador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoEstadual" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCpfCnpj">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="Cnpj" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Cpf" type="xs:string" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcEndereco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Endereco" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Complemento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Bairro" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Uf" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Cep" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcContato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Telefone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoIntermediarioServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CpfCnpj" type="tns:tcCpfCnpj" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcDadosConstrucaoCivil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoObra" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Art" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnviarLoteRpsResposta">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="1" maxOccurs="1" name="DataRecebimento" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NumeroLote" type="xs:nonNegativeInteger" />
        <xs:element minOccurs="0" maxOccurs="1" name="Protocolo" type="xs:string" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcMensagemRetorno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mensagem" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Correcao" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarSituacaoLoteRpsEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Protocolo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarSituacaoLoteRpsResposta">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NumeroLote" type="xs:nonNegativeInteger" />
        <xs:element minOccurs="1" maxOccurs="1" name="Situacao" type="xs:byte" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseRpsEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:tcIdentificacaoRps" />
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseRpsResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="CompNfse" type="tns:tcCompNfse" />
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCompNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Nfse" type="tns:tcNfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="NfseCancelamento" type="tns:tcCancelamentoNfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituicao" type="tns:tcSubstituicaoNfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InfNfse" type="tns:tcInfNfse" />
      <xs:element xmlns:q3="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" ref="q3:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoVerificacao" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoRps" type="tns:tcIdentificacaoRps" />
      <xs:element minOccurs="0" maxOccurs="1" name="DataEmissaoRps" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="NaturezaOperacao" type="xs:byte" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegimeEspecialTributacao" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="OptanteSimplesNacional" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="IncentivadorCultural" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Competencia" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituida" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutrasInformacoes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Servico" type="tns:tcDadosServico" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValorCredito" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrestadorServico" type="tns:tcDadosPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="TomadorServico" type="tns:tcDadosTomador" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntermediarioServico" type="tns:tcIdentificacaoIntermediarioServico" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrgaoGerador" type="tns:tcIdentificacaoOrgaoGerador" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContrucaoCivil" type="tns:tcDadosConstrucaoCivil" />
      <xs:element minOccurs="0" maxOccurs="1" name="MotivoCancelamento" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcDadosPrestador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoPrestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NomeFantasia" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Endereco" type="tns:tcEndereco" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contato" type="tns:tcContato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoOrgaoGerador">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Uf" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcCancelamentoNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Confirmacao" type="tns:tcConfirmacaoCancelamento" />
      <xs:element xmlns:q4="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q4:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcConfirmacaoCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:tcPedidoCancelamento" />
      <xs:element minOccurs="1" maxOccurs="1" name="DataHoraCancelamento" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcPedidoCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InfPedidoCancelamento" type="tns:tcInfPedidoCancelamento" />
      <xs:element xmlns:q5="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q5:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfPedidoCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoNfse" type="tns:tcIdentificacaoNfse" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoCancelamento" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tcIdentificacaoNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="Cnpj" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InscricaoMunicipal" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoMunicipio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcSubstituicaoNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SubstituicaoNfse" type="tns:tcInfSubstituicaoNfse" />
      <xs:element xmlns:q6="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" ref="q6:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfSubstituicaoNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituidora" type="xs:nonNegativeInteger" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ConsultarNfseEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroNfse" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="PeriodoEmissao">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="DataInicial" type="xs:date" />
            <xs:element minOccurs="1" maxOccurs="1" name="DataFinal" type="xs:date" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Tomador" type="tns:tcIdentificacaoTomador" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntermediarioServico" type="tns:tcIdentificacaoIntermediarioServico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarLoteRpsEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Protocolo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarLoteRpsResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ListaNfse">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CompNfse" type="tns:tcCompNfse" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarNfseEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Pedido" type="tns:tcPedidoCancelamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarNfseResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="Cancelamento" type="tns:tcCancelamentoNfse" />
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GerarNovaNfseEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="InformacaoNfse" type="tns:tcInfNovaNfse" />
      <xs:element xmlns:q7="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q7:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcInfNovaNfse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="NaturezaOperacao" type="xs:byte" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegimeEspecialTributacao" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="OptanteSimplesNacional" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="IncentivadorCultural" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:byte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Competencia" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NfseSubstituida" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutrasInformacoes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Servico" type="tns:tcDadosServico" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tomador" type="tns:tcDadosTomador" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntermediarioServico" type="tns:tcIdentificacaoIntermediarioServico" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContrucaoCivil" type="tns:tcDadosConstrucaoCivil" />
      <xs:element minOccurs="0" maxOccurs="1" name="MotivoCancelamento" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="GerarNovaNfseResposta">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="ListaMensagemRetorno">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MensagemRetorno" type="tns:tcMensagemRetorno" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NovaNfse" type="tns:tcRespostaIdentNovaNfse" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcRespostaIdentNovaNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoNfse" type="tns:tcIdentNovaNfse" />
      <xs:element xmlns:q8="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q8:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tcIdentNovaNfse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacaoPrestador" type="tns:tcIdentificacaoPrestador" />
      <xs:element minOccurs="0" maxOccurs="1" name="Numero" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="Serie" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoVerificacao" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Link" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
</xs:schema>