NFe.Components.Wsdl/NFe/WSDL/Producao/MG/PMGCteRecepcaoEvento.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/RecepcaoEvento" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/RecepcaoEvento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/RecepcaoEvento" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/RecepcaoEvento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<s:element name="cteDadosMsg">
				<s:complexType mixed="true">
					<s:sequence>
						<s:any />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="recepcaoEventoResult">
				<s:complexType mixed="true">
					<s:sequence>
						<s:any />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="cteCabecMsg" type="tns:cteCabecMsg" />
			<s:complexType name="cteCabecMsg">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="0" name="cUF" type="s:string" />
					<s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string" />
				</s:sequence>
				<s:anyAttribute />
			</s:complexType>
		</s:schema>
  </wsdl:types>
  <wsdl:message name="recepcaoEventoSoapOut">
    <wsdl:part element="tns:recepcaoEventoResult" name="recepcaoEventoResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recepcaoEventoCabecMsg">
    <wsdl:part element="tns:cteCabecMsg" name="cteCabecMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recepcaoEventoSoapIn">
    <wsdl:part element="tns:cteDadosMsg" name="cteDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RecepcaoEventoSoap">
    <wsdl:operation name="cteRecepcaoEvento">
      <wsdl:input message="tns:recepcaoEventoSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:recepcaoEventoSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecepcaoEventoSoap" type="tns:RecepcaoEventoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cteRecepcaoEvento">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/RecepcaoEvento/cteRecepcaoEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:recepcaoEventoCabecMsg" part="cteCabecMsg" use="literal">
        </soap12:header>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:recepcaoEventoCabecMsg" part="cteCabecMsg" use="literal">
        </soap12:header>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecepcaoEvento">
    <wsdl:port binding="tns:RecepcaoEventoSoap" name="RecepcaoEventoSoap">
      <soap12:address location="https://cte.fazenda.mg.gov.br/cte/services/RecepcaoEvento" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>