NFe.Components.Wsdl/NFe/WSDL/Producao/MG/PMGCancRegSaida2.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CancRegSaida2" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CancRegSaida2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CancRegSaida2" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CancRegSaida2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <s:element name="nfeDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retCancRegSaidaResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <s:complexType name="nfeCabecMsg">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="cUF" type="s:string" />
          <s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cancRegSaida2nfeCabecMsg">
    <wsdl:part element="tns:nfeCabecMsg" name="nfeCabecMsg" />
  </wsdl:message>
  <wsdl:message name="cancRegSaida2Soap12In">
    <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg" />
  </wsdl:message>
  <wsdl:message name="cancRegSaida2Soap12Out">
    <wsdl:part element="tns:retCancRegSaidaResult" name="retCancRegSaidaResult" />
  </wsdl:message>
  <wsdl:portType name="CancRegSaida2Soap">
    <wsdl:operation name="cancRegSaida2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancelar Registro de Saida</wsdl:documentation>
      <wsdl:input message="tns:cancRegSaida2Soap12In" />
      <wsdl:output message="tns:cancRegSaida2Soap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CancRegSaida2Soap" type="tns:CancRegSaida2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cancRegSaida2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/CancRegSaida2/cancRegSaida2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:cancRegSaida2nfeCabecMsg" part="nfeCabecMsg" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:cancRegSaida2nfeCabecMsg" part="nfeCabecMsg" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CancRegSaida2">
    <wsdl:port binding="tns:CancRegSaida2Soap" name="CancRegSaida2Soap">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/CancRegSaida2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
