fontes/NFe.Components/Web References/PLucasDoRioVerdeMTConsultaLoteRps/WS_ConsultaLoteRps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="FISS-LEX" xmlns:wsdlns="FISS-LEX" name="WS_ConsultaLoteRps" targetNamespace="FISS-LEX" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="FISS-LEX">
      <xsd:complexType name="ConsultarLoteRpsEnvio">
        <xsd:sequence>
          <xsd:element form="unqualified" name="Prestador" type="wsdlns:tcIdentificacaoPrestador" />
          <xsd:element form="unqualified" name="Protocolo" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tcIdentificacaoPrestador">
        <xsd:sequence>
          <xsd:element form="unqualified" name="Cnpj" type="xsd:string" />
          <xsd:element form="unqualified" name="InscricaoMunicipal" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOftcMensagemRetorno">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="tcMensagemRetorno" type="wsdlns:tcMensagemRetorno" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tcMensagemRetorno">
        <xsd:sequence>
          <xsd:element form="unqualified" name="Codigo" type="xsd:string" />
          <xsd:element form="unqualified" name="Mensagem" type="xsd:string" />
          <xsd:element form="unqualified" name="Correcao" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="WS_ConsultaLoteRps.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Consultarloterpsenvio" type="wsdlns:ConsultarLoteRpsEnvio" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WS_ConsultaLoteRps.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Consultarloterpsresposta" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Listamensagemretorno" type="wsdlns:ArrayOftcMensagemRetorno" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="WS_ConsultaLoteRps.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:WS_ConsultaLoteRps.Execute" />
  </message>
  <message name="WS_ConsultaLoteRps.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:WS_ConsultaLoteRps.ExecuteResponse" />
  </message>
  <portType name="WS_ConsultaLoteRpsSoapPort">
    <operation name="Execute">
      <input message="wsdlns:WS_ConsultaLoteRps.ExecuteSoapIn" />
      <output message="wsdlns:WS_ConsultaLoteRps.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="WS_ConsultaLoteRpsSoapBinding" type="wsdlns:WS_ConsultaLoteRpsSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="FISS-LEXaction/AWS_CONSULTALOTERPS.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_ConsultaLoteRps">
    <port name="WS_ConsultaLoteRpsSoapPort" binding="wsdlns:WS_ConsultaLoteRpsSoapBinding">
      <soap:address location="http://lucasdorioverde.fisslex.com.br/fiss-lex/servlet/aws_consultaloterps" />
    </port>
  </service>
</definitions>