fontes/NFe.Components/Web References/HWebfiscoTecnologia/HWebfiscoTecnologia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://187.32.116.171/issqn/wservice/wsnfe_teste_homologacao.php" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://187.32.116.171/issqn/wservice/wsnfe_teste_homologacao.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://187.32.116.171/issqn/wservice/wsnfe_teste_homologacao.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="StrEnvNfe">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:EnvNfe[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EnvNfe">
        <xsd:all>
          <xsd:element name="okk" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EnvNfeRequest">
    <wsdl:part name="prf" type="xsd:string" />
    <wsdl:part name="usr" type="xsd:string" />
    <wsdl:part name="ctr" type="xsd:string" />
    <wsdl:part name="cnpj" type="xsd:string" />
    <wsdl:part name="cnpjn" type="xsd:string" />
    <wsdl:part name="ie" type="xsd:string" />
    <wsdl:part name="im" type="xsd:string" />
    <wsdl:part name="lgr" type="xsd:string" />
    <wsdl:part name="num" type="xsd:string" />
    <wsdl:part name="cpl" type="xsd:string" />
    <wsdl:part name="bai" type="xsd:string" />
    <wsdl:part name="cid" type="xsd:string" />
    <wsdl:part name="est" type="xsd:string" />
    <wsdl:part name="cep" type="xsd:string" />
    <wsdl:part name="fon" type="xsd:string" />
    <wsdl:part name="mail" type="xsd:string" />
    <wsdl:part name="dat" type="xsd:string" />
    <wsdl:part name="f1n" type="xsd:string" />
    <wsdl:part name="f1d" type="xsd:string" />
    <wsdl:part name="f1v" type="xsd:string" />
    <wsdl:part name="f2n" type="xsd:string" />
    <wsdl:part name="f2d" type="xsd:string" />
    <wsdl:part name="f2v" type="xsd:string" />
    <wsdl:part name="f3n" type="xsd:string" />
    <wsdl:part name="f3d" type="xsd:string" />
    <wsdl:part name="f3v" type="xsd:string" />
    <wsdl:part name="f4n" type="xsd:string" />
    <wsdl:part name="f4d" type="xsd:string" />
    <wsdl:part name="f4v" type="xsd:string" />
    <wsdl:part name="f5n" type="xsd:string" />
    <wsdl:part name="f5d" type="xsd:string" />
    <wsdl:part name="f5v" type="xsd:string" />
    <wsdl:part name="f6n" type="xsd:string" />
    <wsdl:part name="f6d" type="xsd:string" />
    <wsdl:part name="f6v" type="xsd:string" />
    <wsdl:part name="item1" type="xsd:string" />
    <wsdl:part name="item2" type="xsd:string" />
    <wsdl:part name="item3" type="xsd:string" />
    <wsdl:part name="aliq1" type="xsd:string" />
    <wsdl:part name="aliq2" type="xsd:string" />
    <wsdl:part name="aliq3" type="xsd:string" />
    <wsdl:part name="val1" type="xsd:string" />
    <wsdl:part name="val2" type="xsd:string" />
    <wsdl:part name="val3" type="xsd:string" />
    <wsdl:part name="loc" type="xsd:string" />
    <wsdl:part name="ret" type="xsd:string" />
    <wsdl:part name="txt" type="xsd:string" />
    <wsdl:part name="val" type="xsd:string" />
    <wsdl:part name="valtrib" type="xsd:string" />
    <wsdl:part name="iss" type="xsd:string" />
    <wsdl:part name="issret" type="xsd:string" />
    <wsdl:part name="desci" type="xsd:string" />
    <wsdl:part name="desco" type="xsd:string" />
    <wsdl:part name="binss" type="xsd:string" />
    <wsdl:part name="birrf" type="xsd:string" />
    <wsdl:part name="bcsll" type="xsd:string" />
    <wsdl:part name="bpis" type="xsd:string" />
    <wsdl:part name="bcofins" type="xsd:string" />
    <wsdl:part name="ainss" type="xsd:string" />
    <wsdl:part name="airrf" type="xsd:string" />
    <wsdl:part name="acsll" type="xsd:string" />
    <wsdl:part name="apis" type="xsd:string" />
    <wsdl:part name="acofins" type="xsd:string" />
    <wsdl:part name="inss" type="xsd:string" />
    <wsdl:part name="irrf" type="xsd:string" />
    <wsdl:part name="csll" type="xsd:string" />
    <wsdl:part name="pis" type="xsd:string" />
    <wsdl:part name="cofins" type="xsd:string" />
    <wsdl:part name="item4" type="xsd:string" />
    <wsdl:part name="item5" type="xsd:string" />
    <wsdl:part name="item6" type="xsd:string" />
    <wsdl:part name="item7" type="xsd:string" />
    <wsdl:part name="item8" type="xsd:string" />
    <wsdl:part name="aliq4" type="xsd:string" />
    <wsdl:part name="aliq5" type="xsd:string" />
    <wsdl:part name="aliq6" type="xsd:string" />
    <wsdl:part name="aliq7" type="xsd:string" />
    <wsdl:part name="aliq8" type="xsd:string" />
    <wsdl:part name="val4" type="xsd:string" />
    <wsdl:part name="val5" type="xsd:string" />
    <wsdl:part name="val6" type="xsd:string" />
    <wsdl:part name="val7" type="xsd:string" />
    <wsdl:part name="val8" type="xsd:string" />
    <wsdl:part name="iteser1" type="xsd:string" />
    <wsdl:part name="iteser2" type="xsd:string" />
    <wsdl:part name="iteser3" type="xsd:string" />
    <wsdl:part name="iteser4" type="xsd:string" />
    <wsdl:part name="iteser5" type="xsd:string" />
    <wsdl:part name="iteser6" type="xsd:string" />
    <wsdl:part name="iteser7" type="xsd:string" />
    <wsdl:part name="iteser8" type="xsd:string" />
    <wsdl:part name="alqser1" type="xsd:string" />
    <wsdl:part name="alqser2" type="xsd:string" />
    <wsdl:part name="alqser3" type="xsd:string" />
    <wsdl:part name="alqser4" type="xsd:string" />
    <wsdl:part name="alqser5" type="xsd:string" />
    <wsdl:part name="alqser6" type="xsd:string" />
    <wsdl:part name="alqser7" type="xsd:string" />
    <wsdl:part name="alqser8" type="xsd:string" />
    <wsdl:part name="valser1" type="xsd:string" />
    <wsdl:part name="valser2" type="xsd:string" />
    <wsdl:part name="valser3" type="xsd:string" />
    <wsdl:part name="valser4" type="xsd:string" />
    <wsdl:part name="valser5" type="xsd:string" />
    <wsdl:part name="valser6" type="xsd:string" />
    <wsdl:part name="valser7" type="xsd:string" />
    <wsdl:part name="valser8" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="EnvNfeResponse">
    <wsdl:part name="return" type="tns:StrEnvNfe" />
  </wsdl:message>
  <wsdl:portType name="webservicePortType">
    <wsdl:operation name="EnvNfe">
      <wsdl:input message="tns:EnvNfeRequest" />
      <wsdl:output message="tns:EnvNfeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webserviceBinding" type="tns:webservicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="EnvNfe">
      <soap:operation soapAction="https://www2.webfiscotecnologia.com.br/issqn/wservice/wsnfe_teste_homologacao.php/EnvNfe" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="webservice">
    <wsdl:port name="webservicePort" binding="tns:webserviceBinding">
      <soap:address location="https://www2.webfiscotecnologia.com.br:443/issqn/wservice/wsnfe_teste_homologacao.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>