WSDL/Parana/nfeInutilizacaoNF.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao"
	xmlns:intf="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- WSDL liz -->
	<wsdl:types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="nfeInutilizacaoNF">
				<complexType>
					<sequence>
						<element name="nfeCabecMsg" type="xsd:string" />
						<element name="nfeDadosMsg" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="nfeInutilizacaoNFResponse">
				<complexType>
					<sequence>
						<element name="nfeInutilizacaoNFResult" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<message name="nfeInutilizacaoNFResponse">
		<part element="impl:nfeInutilizacaoNFResponse" name="parameters" />
	</message>
	<message name="nfeInutilizacaoNFRequest">
		<part element="impl:nfeInutilizacaoNF" name="parameters" />
	</message>
	<portType name="NfeInutilizacao">
		<operation name="nfeInutilizacaoNF">
			<input message="impl:nfeInutilizacaoNFRequest" name="nfeInutilizacaoNFRequest" />
			<output message="impl:nfeInutilizacaoNFResponse" name="nfeInutilizacaoNFResponse" />
		</operation>
	</portType>
	<binding name="nfeInutilizacaoNFSoapBinding"
		type="impl:NfeInutilizacao">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="nfeInutilizacaoNF">
			<wsdlsoap:operation soapAction="" />
			<input name="nfeInutilizacaoNFRequest">
				<wsdlsoap:body use="literal" />
			</input>
			<output name="nfeInutilizacaoNFResponse">
				<wsdlsoap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="NfeInutilizacaoService">
		<port binding="impl:nfeInutilizacaoNFSoapBinding" name="nfeInutilizacaoNF">
			<wsdlsoap:address
				location="https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeInutilizacaoNF" />
		</port>
	</service>
</definitions>
