WSDL/Parana/nfeRecepcao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<!-- WSDL liz -->
	<wsdl:types>
		<s:schema elementFormDefault="qualified"
			targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao">
			<s:element name="nfeRecepcaoLote">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="nfeCabecMsg" type="s:string" />
						<s:element maxOccurs="1" minOccurs="0" name="nfeDadosMsg" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="nfeRecepcaoLoteResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="nfeRecepcaoLoteResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="nfeRecepcaoLoteSoapIn">
		<wsdl:part element="tns:nfeRecepcaoLote" name="parameters" />
	</wsdl:message>
	<wsdl:message name="nfeRecepcaoLoteSoapOut">
		<wsdl:part element="tns:nfeRecepcaoLoteResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:portType name="NfeRecepcaoSoap">
		<wsdl:operation name="nfeRecepcaoLote">
			<wsdl:input message="tns:nfeRecepcaoLoteSoapIn" />
			<wsdl:output message="tns:nfeRecepcaoLoteSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NfeRecepcaoSoap" type="tns:NfeRecepcaoSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="nfeRecepcaoLote">
			<soap:operation
				soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao/nfeRecepcaoLote" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NfeRecepcao">
		<wsdl:port binding="tns:NfeRecepcaoSoap" name="NfeRecepcaoSoap">
			<soap:address
				location="https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeRecepcao" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
