WSDL/Parana/nfeStatusServicoNF.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<!-- WSDL liz -->
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico">
			<s:element name="nfeStatusServicoNF">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="nfeCabecMsg" type="s:string" />
						<s:element maxOccurs="1" minOccurs="0" name="nfeDadosMsg" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="nfeStatusServicoNFResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="nfeStatusServicoNFResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="nfeStatusServicoNFSoapIn">
		<wsdl:part element="tns:nfeStatusServicoNF" name="parameters" />
	</wsdl:message>
	<wsdl:message name="nfeStatusServicoNFSoapOut">
		<wsdl:part element="tns:nfeStatusServicoNFResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="NfeStatusServicoSoap">
		<wsdl:operation name="nfeStatusServicoNF">
			<wsdl:input message="tns:nfeStatusServicoNFSoapIn" />
			<wsdl:output message="tns:nfeStatusServicoNFSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NfeStatusServicoSoap"
		type="tns:NfeStatusServicoSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="nfeStatusServicoNF">
			<soap:operation
				soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico/nfeStatusServicoNF" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NfeStatusServico">
		<wsdl:port binding="tns:NfeStatusServicoSoap"
			name="NfeStatusServicoSoap">
			<soap:address
				location="https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeStatusServicoNF" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
