fontes/NFe.Components/Web References/HIlheusBA/Nfse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://impl.endpoint.nfse.ws.webservicenfse.edza.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Nfse" targetNamespace="http://impl.endpoint.nfse.ws.webservicenfse.edza.com.br/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://endpoint.nfse.ws.webservicenfse.edza.com.br/" location="http://lftributos.metropolisweb.com.br:9090/webservicenfse/nfse/services?wsdl=1" />
  <types />
  <binding xmlns:ns1="http://endpoint.nfse.ws.webservicenfse.edza.com.br/" name="NfseSoapPortBinding" type="ns1:NfseEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CancelarNfse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarSituacaoLoteRps">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarNfse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarLoteRps">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RecepcionarLoteRps">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarNfsePorRps">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Nfse">
    <port name="NfseSoapPort" binding="tns:NfseSoapPortBinding">
      <soap:address location="http://lftributos.metropolisweb.com.br:9090/webservicenfse/nfse/services" />
    </port>
  </service>
</definitions>