uninfe/Web References/wsMTHStatusServico/NfeStatusServico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico" xmlns:impl="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico">
      <xsd:element name="nfeStatusServicoNF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeCabecMsg" type="xsd:string" />
            <xsd:element name="nfeDadosMsg" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nfeStatusServicoNFResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeStatusServicoNFResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="nfeStatusServicoNFRequest">
    <wsdl:part name="parameters" element="impl:nfeStatusServicoNF" />
  </wsdl:message>
  <wsdl:message name="nfeStatusServicoNFResponse">
    <wsdl:part name="parameters" element="impl:nfeStatusServicoNFResponse" />
  </wsdl:message>
  <wsdl:portType name="NfeStatusServico">
    <wsdl:operation name="nfeStatusServicoNF">
      <wsdl:input name="nfeStatusServicoNFRequest" message="impl:nfeStatusServicoNFRequest" />
      <wsdl:output name="nfeStatusServicoNFResponse" message="impl:nfeStatusServicoNFResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeStatusServicoSoapBinding" type="impl:NfeStatusServico">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeStatusServicoNF">
      <wsdlsoap:operation soapAction="nfeStatusServicoNF" />
      <wsdl:input name="nfeStatusServicoNFRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeStatusServicoNFResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeStatusServico">
    <wsdl:port name="NfeStatusServico" binding="impl:NfeStatusServicoSoapBinding">
      <wsdlsoap:address location="https://homologacao.sefaz.mt.gov.br/nfews/NfeStatusServico" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>