fontes/NFe.Components/Web References/HBaraoDeCotegipeRS/NfseService_Homolog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://NFSe.wsservices.systempro.com.br/" targetNamespace="http://NFSe.wsservices.systempro.com.br/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CancelarNfse" type="tns:CancelarNfse" />
  <xs:element name="CancelarNfseResponse" type="tns:CancelarNfseResponse" />
  <xs:element name="ConsultarNfseFaixa" type="tns:ConsultarNfseFaixa" />
  <xs:element name="ConsultarNfseFaixaResponse" type="tns:ConsultarNfseFaixaResponse" />
  <xs:element name="EnviarLoteRpsSincrono" type="tns:EnviarLoteRpsSincrono" />
  <xs:element name="EnviarLoteRpsSincronoResponse" type="tns:EnviarLoteRpsSincronoResponse" />
  <xs:element name="GerarNfse" type="tns:GerarNfse" />
  <xs:element name="GerarNfseResponse" type="tns:GerarNfseResponse" />
  <xs:element name="SubstituirNfse" type="tns:SubstituirNfse" />
  <xs:element name="SubstituirNfseResponse" type="tns:SubstituirNfseResponse" />
  <xs:complexType name="EnviarLoteRpsSincrono">
    <xs:sequence>
      <xs:element minOccurs="0" name="nfseCabecMsg" type="xs:string" />
      <xs:element minOccurs="0" name="nfseDadosMsg" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnviarLoteRpsSincronoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseFaixa">
    <xs:sequence>
      <xs:element minOccurs="0" name="nfseCabecMsg" type="xs:string" />
      <xs:element minOccurs="0" name="nfseDadosMsg" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarNfseFaixaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarNfse">
    <xs:sequence>
      <xs:element minOccurs="0" name="nfseCabecMsg" type="xs:string" />
      <xs:element minOccurs="0" name="nfseDadosMsg" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarNfseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GerarNfse">
    <xs:sequence>
      <xs:element minOccurs="0" name="nfseCabecMsg" type="xs:string" />
      <xs:element minOccurs="0" name="nfseDadosMsg" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GerarNfseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubstituirNfse">
    <xs:sequence>
      <xs:element minOccurs="0" name="nfseCabecMsg" type="xs:string" />
      <xs:element minOccurs="0" name="nfseDadosMsg" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubstituirNfseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>