fontes/net64/NFe.Components/Web References/br.com.sigiss.testeriogrande.h/sigiss_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sigiss_ws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:sigiss_ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:sigiss_ws">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="tcDescricaoRps">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="ccm" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cnpj" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="senha" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crc" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crc_estado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aliquota_simples" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id_sis_legado" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="servico" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="situacao" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="valor" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="base" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="descricaoNF" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_tipo" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tomador_cnpj" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_email2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_email3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_ie" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_im" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_razao" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_fantasia" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_endereco" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_numero" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_complemento" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_bairro" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_CEP" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_cod_cidade" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_fone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_ramal" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tomador_fax" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_num" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_serie" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_dia" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_mes" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="rps_ano" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="natureza_operacao" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_cnpj" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_ie" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_im" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_razao" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_endereco" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_numero" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_complemento" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_bairro" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_CEP" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_cod_cidade" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intermediario_fone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vencimento_dia" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vencimento_mes" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="vencimento_ano" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcLoteRps">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:tcDescricaoRps[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="tcRetornoNota">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="Resultado" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Nota" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="LinkImpressao" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcEstruturaDescricaoErros">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DescricaoProcesso" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DescricaoErro" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcDescricaoErros">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:tcEstruturaDescricaoErros[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="tcDadosPrestador">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="ccm" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cnpj" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="senha" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crc" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="crc_estado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aliquota_simples" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcDescricaoCancelaNota">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="nota" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="motivo" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="email" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcLoteCancelarNota">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:tcDescricaoCancelaNota[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="tcNotas">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:int[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="tcDadosNota">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="nota" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="id_sis_legado" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autenticidade" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="dt_conversao" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="num_rps" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="serie_rps" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="emissao_rps" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_razao" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_endereco" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_numero" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_complemento" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_bairro" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_cidade" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_estado" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_cep" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_email" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="valor" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="base" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="servico" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="aliquota_atividade" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="iss" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cnpj_tomador" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="razao_tomador" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="endereco_tomador" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="numero_tomador" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="complemento_tomador" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="bairro_tomador" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cidade_tomador" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="estado_tomador" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cep_tomador" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="email_tomador" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="descricao" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ISSRetido" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="StatusNFe" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="situacao" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="OpcaoSimples" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LinkImpressao" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcConsultaFaixaNota">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="mesI" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="mesF" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="anoI" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="anoF" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcDadosConsultaNota">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="nota" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="serie" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="valor" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_ccm" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="prestador_cnpj" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autenticidade" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="tcListaDadosNota">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:tcDadosNota[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GerarNotaRequest">
    <wsdl:part name="DescricaoRps" type="tns:tcDescricaoRps" />
  </wsdl:message>
  <wsdl:message name="GerarNotaResponse">
    <wsdl:part name="RetornoNota" type="tns:tcRetornoNota" />
    <wsdl:part name="DescricaoErros" type="tns:tcDescricaoErros" />
  </wsdl:message>
  <wsdl:message name="GerarNota_assinadaRequest">
    <wsdl:part name="xml" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GerarNota_assinadaResponse">
    <wsdl:part name="RetornoNota" type="tns:tcRetornoNota" />
    <wsdl:part name="DescricaoErros" type="tns:tcDescricaoErros" />
  </wsdl:message>
  <wsdl:message name="CancelarNotaRequest">
    <wsdl:part name="DadosPrestador" type="tns:tcDadosPrestador" />
    <wsdl:part name="DescricaoCancelaNota" type="tns:tcDescricaoCancelaNota" />
  </wsdl:message>
  <wsdl:message name="CancelarNotaResponse">
    <wsdl:part name="RetornoNota" type="tns:tcRetornoNota" />
    <wsdl:part name="DescricaoErros" type="tns:tcDescricaoErros" />
  </wsdl:message>
  <wsdl:message name="CancelarNota_assinadaRequest">
    <wsdl:part name="xml" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="CancelarNota_assinadaResponse">
    <wsdl:part name="RetornoNota" type="tns:tcRetornoNota" />
    <wsdl:part name="DescricaoErros" type="tns:tcDescricaoErros" />
  </wsdl:message>
  <wsdl:message name="ConsultarNotaValidaRequest">
    <wsdl:part name="DadosConsultaNota" type="tns:tcDadosConsultaNota" />
  </wsdl:message>
  <wsdl:message name="ConsultarNotaValidaResponse">
    <wsdl:part name="RetornoNota" type="tns:tcRetornoNota" />
    <wsdl:part name="DescricaoErros" type="tns:tcDescricaoErros" />
  </wsdl:message>
  <wsdl:message name="ConsultarNotaPrestadorRequest">
    <wsdl:part name="DadosPrestador" type="tns:tcDadosPrestador" />
    <wsdl:part name="Nota" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="ConsultarNotaPrestadorResponse">
    <wsdl:part name="DadosNota" type="tns:tcDadosNota" />
    <wsdl:part name="DescricaoErros" type="tns:tcDescricaoErros" />
  </wsdl:message>
  <wsdl:message name="geratesteRequest">
    <wsdl:part name="dado" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="geratesteResponse">
    <wsdl:part name="retorno" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="WebService SigISSPortType">
    <wsdl:operation name="GerarNota">
      <documentation>Gera a nota fiscal eletrônica</documentation>
      <wsdl:input message="tns:GerarNotaRequest" />
      <wsdl:output message="tns:GerarNotaResponse" />
    </wsdl:operation>
    <wsdl:operation name="GerarNota_assinada">
      <documentation>Gera a nota fiscal eletrônica, recebendo uma xml assinada</documentation>
      <wsdl:input message="tns:GerarNota_assinadaRequest" />
      <wsdl:output message="tns:GerarNota_assinadaResponse" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNota">
      <documentation>Faz o cancelamento da nota fiscal eletrônica</documentation>
      <wsdl:input message="tns:CancelarNotaRequest" />
      <wsdl:output message="tns:CancelarNotaResponse" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNota_assinada">
      <documentation>Faz o cancelamento da nota fiscal eletrônica, recebendo uma xml assinada</documentation>
      <wsdl:input message="tns:CancelarNota_assinadaRequest" />
      <wsdl:output message="tns:CancelarNota_assinadaResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNotaValida">
      <documentation>Faz a consulta de uma nota fiscal eletrônica para saber se esta válida</documentation>
      <wsdl:input message="tns:ConsultarNotaValidaRequest" />
      <wsdl:output message="tns:ConsultarNotaValidaResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNotaPrestador">
      <documentation>Faz a consulta de uma nota fiscal eletrônica</documentation>
      <wsdl:input message="tns:ConsultarNotaPrestadorRequest" />
      <wsdl:output message="tns:ConsultarNotaPrestadorResponse" />
    </wsdl:operation>
    <wsdl:operation name="gerateste">
      <documentation>1 - retorna Hello World</documentation>
      <wsdl:input message="tns:geratesteRequest" />
      <wsdl:output message="tns:geratesteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService SigISSBinding" type="tns:WebService SigISSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GerarNota">
      <soap:operation soapAction="urn:sigiss_ws#GerarNota" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarNota_assinada">
      <soap:operation soapAction="urn:sigiss_ws#GerarNota_assinada" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNota">
      <soap:operation soapAction="urn:sigiss_ws#CancelarNota" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNota_assinada">
      <soap:operation soapAction="urn:sigiss_ws#CancelarNota_assinada" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNotaValida">
      <soap:operation soapAction="urn:sigiss_ws#ConsultarNotaValida" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNotaPrestador">
      <soap:operation soapAction="urn:sigiss_ws#ConsultarNotaPrestador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gerateste">
      <soap:operation soapAction="urn:sigiss_ws#gerateste" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:sigiss_ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService SigISS">
    <wsdl:port name="WebService SigISSPort" binding="tns:WebService SigISSBinding">
      <soap:address location="https://testeriogrande.sigiss.com.br:443/testeriogrande/ws/sigiss_ws.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>