fontes/NFe.Components/Web References/HBlumenauSC/nfseservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sistema.com.br/Sistema.Ws.Nfse" elementFormDefault="qualified" targetNamespace="http://www.sistema.com.br/Sistema.Ws.Nfse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wshomologacaoabrasf.simplissweb.com.br/nfseservice.svc?xsd=xsd1" namespace="http://www.abrasf.org.br/nfse.xsd" />
  <xs:element name="Versao">
    <xs:complexType />
  </xs:element>
  <xs:element name="VersaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="VersaoResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionarLoteRps">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="EnviarLoteRpsEnvio" type="q1:EnviarLoteRpsEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionarLoteRpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="RecepcionarLoteRpsResult" type="q2:EnviarLoteRpsResposta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSituacaoLoteRps">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="ConsultarSituacaoLoteRpsEnvio" type="q3:ConsultarSituacaoLoteRpsEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSituacaoLoteRpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="ConsultarSituacaoLoteRpsResult" type="q4:ConsultarSituacaoLoteRpsResposta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfsePorRps">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="ConsultarNfseRpsEnvio" type="q5:ConsultarNfseRpsEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfsePorRpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="ConsultarNfsePorRpsResult" type="q6:ConsultarNfseRpsResposta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="ConsultarNfseEnvio" type="q7:ConsultarNfseEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNfseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="ConsultarNfseResult" type="q8:ConsultarNfseResposta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarLoteRps">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="ConsultarLoteRpsEnvio" type="q9:ConsultarLoteRpsEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarLoteRpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="ConsultarLoteRpsResult" type="q10:ConsultarLoteRpsResposta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarNfse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="CancelarNfseEnvio" type="q11:CancelarNfseEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarNfseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="CancelarNfseResult" type="q12:CancelarNfseResposta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarNfse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="GerarNfseEnvio" type="q13:GerarNfseEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarNfseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://www.abrasf.org.br/nfse.xsd" minOccurs="0" maxOccurs="1" name="GerarNfseResult" type="q14:GerarNfseResposta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>