NFe.Components.Wsdl/NFe/WSDL/Producao/MT/PMTCteRecepcaoEvento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    
     targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoEvento"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoEvento"
     xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:s="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoEvento">
            <s:element name="cteDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="cteRecepcaoEventoResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="cteCabecMsg" type="tns:cteCabecMsg"/>
            <s:complexType name="cteCabecMsg">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="cUF" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
        </s:schema>
    </types>
    <message name="cteRecepcaoEventoSoap12In">
        <part name="cteDadosMsg" element="tns:cteDadosMsg"/>
    </message>
    <message name="cteRecepcaoEventoSoap12Out">
        <part name="cteRecepcaoEventoResult" element="tns:cteRecepcaoEventoResult"/>
    </message>
    <message name="cteRecepcaoEventocteCabecMsg">
        <part name="cteCabecMsg" element="tns:cteCabecMsg"/>
    </message>
    <portType name="CteRecepcaoEventoSoap12">
        <operation name="cteRecepcaoEvento">
            <input message="tns:cteRecepcaoEventoSoap12In"/>
            <output message="tns:cteRecepcaoEventoSoap12Out"/>
        </operation>
    </portType>
    <binding name="CteRecepcaoEventoSoap12" type="tns:CteRecepcaoEventoSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cteRecepcaoEvento">
            <soap12:operation style="document" soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoEvento/cteRecepcaoEvento"
                 soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:cteRecepcaoEventocteCabecMsg" part="cteCabecMsg" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
                <soap12:header message="tns:cteRecepcaoEventocteCabecMsg" part="cteCabecMsg" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CteRecepcaoEvento">
        <port name="CteRecepcaoEventoSoap12" binding="tns:CteRecepcaoEventoSoap12">
            <soap12:address location="https://homologacao.sefaz.mt.gov.br/ctews2/services/CteRecepcaoEvento"/>
        </port>
    </service>
</definitions>
