fontes/net35/NFe.Components/Web References/br.com.etransparencia.nfehomologacao.varginha.h/ws_nfe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="NFe" xmlns:wsdlns="NFe" name="ws_nfe" targetNamespace="NFe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="NFe">
      <xsd:complexType name="Sdt_ProcessarpsIn">
        <xsd:all>
          <xsd:element name="Login" type="wsdlns:Sdt_ProcessarpsIn.Login" />
          <xsd:element name="SDTRPS" type="wsdlns:Sdt_ProcessarpsIn.SDTRPS" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Sdt_ProcessarpsIn.Login">
        <xsd:all>
          <xsd:element name="CodigoUsuario" type="xsd:string" />
          <xsd:element name="CodigoContribuinte" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Sdt_ProcessarpsIn.SDTRPS">
        <xsd:all>
          <xsd:element name="Ano" type="xsd:string" />
          <xsd:element name="Mes" type="xsd:string" />
          <xsd:element name="CPFCNPJ" type="xsd:string" />
          <xsd:element name="DTIni" type="xsd:string" />
          <xsd:element name="DTFin" type="xsd:string" />
          <xsd:element name="TipoTrib" type="xsd:string" />
          <xsd:element name="DtAdeSN" type="xsd:string" />
          <xsd:element name="AlqIssSN_IP" type="xsd:string" />
          <xsd:element name="Versao" type="xsd:string" />
          <xsd:element name="Reg20">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Reg20Item" type="wsdlns:Sdt_ProcessarpsIn.SDTRPS.Reg20Item" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="Reg90" type="wsdlns:Sdt_ProcessarpsIn.SDTRPS.Reg90" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSdt_ProcessarpsIn.SDTRPS.Reg20Item">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Sdt_ProcessarpsIn.SDTRPS.Reg20Item" type="wsdlns:Sdt_ProcessarpsIn.SDTRPS.Reg20Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Sdt_ProcessarpsIn.SDTRPS.Reg20Item">
        <xsd:all>
          <xsd:element name="TipoNFS" type="xsd:string" />
          <xsd:element name="NumRps" type="xsd:string" />
          <xsd:element name="SerRps" type="xsd:string" />
          <xsd:element name="DtEmi" type="xsd:string" />
          <xsd:element name="RetFonte" type="xsd:string" />
          <xsd:element name="CodSrv" type="xsd:string" />
          <xsd:element name="DiscrSrv" type="xsd:string" />
          <xsd:element name="VlNFS" type="xsd:string" />
          <xsd:element name="VlDed" type="xsd:string" />
          <xsd:element name="DiscrDed" type="xsd:string" />
          <xsd:element name="VlBasCalc" type="xsd:string" />
          <xsd:element name="AlqIss" type="xsd:string" />
          <xsd:element name="VlIss" type="xsd:string" />
          <xsd:element name="VlIssRet" type="xsd:string" />
          <xsd:element name="CpfCnpTom" type="xsd:string" />
          <xsd:element name="RazSocTom" type="xsd:string" />
          <xsd:element name="TipoLogtom" type="xsd:string" />
          <xsd:element name="LogTom" type="xsd:string" />
          <xsd:element name="NumEndTom" type="xsd:string" />
          <xsd:element name="ComplEndTom" type="xsd:string" />
          <xsd:element name="BairroTom" type="xsd:string" />
          <xsd:element name="MunTom" type="xsd:string" />
          <xsd:element name="SiglaUFTom" type="xsd:string" />
          <xsd:element name="CepTom" type="xsd:string" />
          <xsd:element name="Telefone" type="xsd:string" />
          <xsd:element name="InscricaoMunicipal" type="xsd:string" />
          <xsd:element name="TipoLogLocPre" type="xsd:string" />
          <xsd:element name="LogLocPre" type="xsd:string" />
          <xsd:element name="NumEndLocPre" type="xsd:string" />
          <xsd:element name="ComplEndLocPre" type="xsd:string" />
          <xsd:element name="BairroLocPre" type="xsd:string" />
          <xsd:element name="MunLocPre" type="xsd:string" />
          <xsd:element name="SiglaUFLocpre" type="xsd:string" />
          <xsd:element name="CepLocPre" type="xsd:string" />
          <xsd:element name="Email1" type="xsd:string" />
          <xsd:element name="Email2" type="xsd:string" />
          <xsd:element name="Email3" type="xsd:string" />
          <xsd:element name="Reg30">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Reg30Item" type="wsdlns:Sdt_ProcessarpsIn.SDTRPS.Reg20Item.Reg30Item" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Sdt_ProcessarpsIn.SDTRPS.Reg90">
        <xsd:all>
          <xsd:element name="QtdRegNormal" type="xsd:string" />
          <xsd:element name="ValorNFS" type="xsd:string" />
          <xsd:element name="ValorISS" type="xsd:string" />
          <xsd:element name="ValorDed" type="xsd:string" />
          <xsd:element name="ValorIssRetTom" type="xsd:string" />
          <xsd:element name="QtdReg30" type="xsd:string" />
          <xsd:element name="ValorTributos" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSdt_ProcessarpsIn.SDTRPS.Reg20Item.Reg30Item">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Sdt_ProcessarpsIn.SDTRPS.Reg20Item.Reg30Item" type="wsdlns:Sdt_ProcessarpsIn.SDTRPS.Reg20Item.Reg30Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Sdt_ProcessarpsIn.SDTRPS.Reg20Item.Reg30Item">
        <xsd:all>
          <xsd:element name="TributoSigla" type="xsd:string" />
          <xsd:element name="TributoAliquota" type="xsd:string" />
          <xsd:element name="TributoValor" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Sdt_ProcessarpsOut">
        <xsd:all>
          <xsd:element name="Retorno" type="xsd:boolean" />
          <xsd:element name="Protocolo" type="xsd:string" />
          <xsd:element name="Messages">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Message" type="wsdlns:Sdt_ProcessarpsOut.Message" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSdt_ProcessarpsOut.Message">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Sdt_ProcessarpsOut.Message" type="wsdlns:Sdt_ProcessarpsOut.Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Sdt_ProcessarpsOut.Message">
        <xsd:all>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Type" type="xsd:byte" />
          <xsd:element name="Description" type="xsd:string" />
          <xsd:element name="LinErr" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SDT_ConsultaProtocoloIn">
        <xsd:all>
          <xsd:element name="Protocolo" type="xsd:string" />
          <xsd:element name="Login" type="wsdlns:SDT_ConsultaProtocoloIn.Login" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SDT_ConsultaProtocoloIn.Login">
        <xsd:all>
          <xsd:element name="CodigoUsuario" type="xsd:string" />
          <xsd:element name="CodigoContribuinte" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SDT_ConsultaNotasProtocoloOut">
        <xsd:all>
          <xsd:element name="Retorno" type="xsd:boolean" />
          <xsd:element name="Messages">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Message" type="wsdlns:SDT_ConsultaNotasProtocoloOut.Message" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="XML_Notas" type="wsdlns:SDT_ConsultaNotasProtocoloOut.XML_Notas" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSDT_ConsultaNotasProtocoloOut.Message">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDT_ConsultaNotasProtocoloOut.Message" type="wsdlns:SDT_ConsultaNotasProtocoloOut.Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDT_ConsultaNotasProtocoloOut.Message">
        <xsd:all>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Type" type="xsd:byte" />
          <xsd:element name="Description" type="xsd:string" />
          <xsd:element name="LinErr" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SDT_ConsultaNotasProtocoloOut.XML_Notas">
        <xsd:all>
          <xsd:element name="CpfCnpj" type="xsd:string" />
          <xsd:element name="DtIni" nillable="true" type="xsd:date" />
          <xsd:element name="DtFin" nillable="true" type="xsd:date" />
          <xsd:element name="TipoArq" type="xsd:short" />
          <xsd:element name="Versao" type="xsd:string" />
          <xsd:element name="Reg20">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Reg20Item" type="wsdlns:SDT_ConsultaNotasProtocoloOut.XML_Notas.Reg20Item" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="Reg90" type="wsdlns:SDT_ConsultaNotasProtocoloOut.XML_Notas.Reg90" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSDT_ConsultaNotasProtocoloOut.XML_Notas.Reg20Item">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDT_ConsultaNotasProtocoloOut.XML_Notas.Reg20Item" type="wsdlns:SDT_ConsultaNotasProtocoloOut.XML_Notas.Reg20Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDT_ConsultaNotasProtocoloOut.XML_Notas.Reg20Item">
        <xsd:all>
          <xsd:element name="TipoNf" type="xsd:string" />
          <xsd:element name="NumNf" type="xsd:int" />
          <xsd:element name="SerNf" type="xsd:string" />
          <xsd:element name="DtEmiNf" type="xsd:string" />
          <xsd:element name="DtHrGerNf" type="xsd:string" />
          <xsd:element name="CodVernf" type="xsd:string" />
          <xsd:element name="NumRps" type="xsd:int" />
          <xsd:element name="SerRps" type="xsd:string" />
          <xsd:element name="DtEmiRps" type="xsd:string" />
          <xsd:element name="TipoCpfCnpjPre" type="xsd:string" />
          <xsd:element name="CpfCnpjPre" type="xsd:string" />
          <xsd:element name="RazSocPre" type="xsd:string" />
          <xsd:element name="LogPre" type="xsd:string" />
          <xsd:element name="NumEndPre" type="xsd:string" />
          <xsd:element name="ComplEndPre" type="xsd:string" />
          <xsd:element name="BairroPre" type="xsd:string" />
          <xsd:element name="MunPre" type="xsd:string" />
          <xsd:element name="SiglaUFPre" type="xsd:string" />
          <xsd:element name="CepPre" type="xsd:int" />
          <xsd:element name="EmailPre" type="xsd:string" />
          <xsd:element name="TipoTribPre" type="xsd:string" />
          <xsd:element name="DtAdeSN" type="xsd:string" />
          <xsd:element name="AlqIssSN" type="xsd:double" />
          <xsd:element name="SitNf" type="xsd:byte" />
          <xsd:element name="DataCncNf" type="xsd:string" />
          <xsd:element name="MotivoCncNf" type="xsd:string" />
          <xsd:element name="TipoCpfCnpjTom" type="xsd:string" />
          <xsd:element name="CpfCnpjTom" type="xsd:string" />
          <xsd:element name="RazSocTom" type="xsd:string" />
          <xsd:element name="LogTom" type="xsd:string" />
          <xsd:element name="NumEndTom" type="xsd:string" />
          <xsd:element name="ComplEndTom" type="xsd:string" />
          <xsd:element name="BairroTom" type="xsd:string" />
          <xsd:element name="MunTom" type="xsd:string" />
          <xsd:element name="SiglaUFTom" type="xsd:string" />
          <xsd:element name="CepTom" type="xsd:int" />
          <xsd:element name="EMailTom" type="xsd:string" />
          <xsd:element name="LogLocPre" type="xsd:string" />
          <xsd:element name="NumEndLocPre" type="xsd:string" />
          <xsd:element name="ComplEndLocPre" type="xsd:string" />
          <xsd:element name="BairroLocPre" type="xsd:string" />
          <xsd:element name="MunLocPre" type="xsd:string" />
          <xsd:element name="SiglaUFLocpre" type="xsd:string" />
          <xsd:element name="CepLocPre" type="xsd:int" />
          <xsd:element name="CodSrv" type="xsd:string" />
          <xsd:element name="DiscrSrv" type="xsd:string" />
          <xsd:element name="VlNFS" type="xsd:double" />
          <xsd:element name="VlDed" type="xsd:double" />
          <xsd:element name="DiscrDed" type="xsd:string" />
          <xsd:element name="VlBasCalc" type="xsd:double" />
          <xsd:element name="AlqIss" type="xsd:double" />
          <xsd:element name="VlIss" type="xsd:double" />
          <xsd:element name="VlIssRet" type="xsd:double" />
          <xsd:element name="Reg30">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Reg30Item" type="wsdlns:SDT_ConsultaNotasProtocoloOut.XML_Notas.Reg20Item.Reg30Item" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SDT_ConsultaNotasProtocoloOut.XML_Notas.Reg90">
        <xsd:all>
          <xsd:element name="QtdRegNormal" type="xsd:int" />
          <xsd:element name="ValorNFS" type="xsd:double" />
          <xsd:element name="ValorISS" type="xsd:double" />
          <xsd:element name="ValorDed" type="xsd:double" />
          <xsd:element name="ValorIssRet" type="xsd:double" />
          <xsd:element name="QtdReg30" type="xsd:int" />
          <xsd:element name="ValorTributos" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSDT_ConsultaNotasProtocoloOut.XML_Notas.Reg20Item.Reg30Item">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDT_ConsultaNotasProtocoloOut.XML_Notas.Reg20Item.Reg30Item" type="wsdlns:SDT_ConsultaNotasProtocoloOut.XML_Notas.Reg20Item.Reg30Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDT_ConsultaNotasProtocoloOut.XML_Notas.Reg20Item.Reg30Item">
        <xsd:all>
          <xsd:element name="TributoSigla" type="xsd:string" />
          <xsd:element name="TributoAliquota" type="xsd:double" />
          <xsd:element name="TributoValor" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SDT_ConsultaProtocoloOut">
        <xsd:all>
          <xsd:element name="Retorno" type="xsd:boolean" />
          <xsd:element name="PrtXSts" type="xsd:byte" />
          <xsd:element name="PrtCSerRps" type="xsd:string" />
          <xsd:element name="PrtCRps_1" type="xsd:long" />
          <xsd:element name="PrtCRps_2" type="xsd:long" />
          <xsd:element name="PrtLPrcIni" nillable="true" type="xsd:dateTime" />
          <xsd:element name="PrtLFinGrv" nillable="true" type="xsd:dateTime" />
          <xsd:element name="PnfCNfe_1" type="xsd:int" />
          <xsd:element name="PnfCnfe_2" type="xsd:int" />
          <xsd:element name="Messages">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Message" type="wsdlns:SDT_ConsultaProtocoloOut.Message" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSDT_ConsultaProtocoloOut.Message">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDT_ConsultaProtocoloOut.Message" type="wsdlns:SDT_ConsultaProtocoloOut.Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDT_ConsultaProtocoloOut.Message">
        <xsd:all>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Type" type="xsd:byte" />
          <xsd:element name="Description" type="xsd:string" />
          <xsd:element name="LinErr" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Sdt_CancelaNFE">
        <xsd:all>
          <xsd:element name="Login" type="wsdlns:Sdt_CancelaNFE.Login" />
          <xsd:element name="Nota" type="wsdlns:Sdt_CancelaNFE.Nota" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Sdt_CancelaNFE.Login">
        <xsd:all>
          <xsd:element name="CodigoUsuario" type="xsd:string" />
          <xsd:element name="CodigoContribuinte" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Sdt_CancelaNFE.Nota">
        <xsd:all>
          <xsd:element name="SerieNota" type="xsd:string" />
          <xsd:element name="NumeroNota" type="xsd:int" />
          <xsd:element name="SerieRPS" type="xsd:string" />
          <xsd:element name="NumeroRps" type="xsd:int" />
          <xsd:element name="ValorNota" type="xsd:double" />
          <xsd:element name="MotivoCancelamento" type="xsd:string" />
          <xsd:element name="PodeCancelarGuia" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Sdt_RetornoCancelaNFE">
        <xsd:all>
          <xsd:element name="Retorno" type="xsd:boolean" />
          <xsd:element name="Messages">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Message" type="wsdlns:Sdt_RetornoCancelaNFE.Message" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSdt_RetornoCancelaNFE.Message">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Sdt_RetornoCancelaNFE.Message" type="wsdlns:Sdt_RetornoCancelaNFE.Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Sdt_RetornoCancelaNFE.Message">
        <xsd:all>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="Description" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="ws_nfe.PROCESSARPS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdt_processarpsin" type="wsdlns:Sdt_ProcessarpsIn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ws_nfe.PROCESSARPSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdt_processarpsout" type="wsdlns:Sdt_ProcessarpsOut" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ws_nfe.CONSULTANOTASPROTOCOLO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdt_consultanotasprotocoloin" type="wsdlns:SDT_ConsultaProtocoloIn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ws_nfe.CONSULTANOTASPROTOCOLOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdt_consultanotasprotocoloout" type="wsdlns:SDT_ConsultaNotasProtocoloOut" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ws_nfe.CONSULTAPROTOCOLO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdt_consultaprotocoloin" type="wsdlns:SDT_ConsultaProtocoloIn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ws_nfe.CONSULTAPROTOCOLOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdt_consultaprotocoloout" type="wsdlns:SDT_ConsultaProtocoloOut" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ws_nfe.VERFICARPS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdt_processarpsin" type="wsdlns:Sdt_ProcessarpsIn" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ws_nfe.VERFICARPSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdt_processarpsout" type="wsdlns:Sdt_ProcessarpsOut" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ws_nfe.CANCELANOTAELETRONICA">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdt_cancelanfe" type="wsdlns:Sdt_CancelaNFE" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ws_nfe.CANCELANOTAELETRONICAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdt_retornocancelanfe" type="wsdlns:Sdt_RetornoCancelaNFE" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ws_nfe.PROCESSARPSSoapIn">
    <part name="parameters" element="wsdlns:ws_nfe.PROCESSARPS" />
  </message>
  <message name="ws_nfe.PROCESSARPSSoapOut">
    <part name="parameters" element="wsdlns:ws_nfe.PROCESSARPSResponse" />
  </message>
  <message name="ws_nfe.CONSULTANOTASPROTOCOLOSoapIn">
    <part name="parameters" element="wsdlns:ws_nfe.CONSULTANOTASPROTOCOLO" />
  </message>
  <message name="ws_nfe.CONSULTANOTASPROTOCOLOSoapOut">
    <part name="parameters" element="wsdlns:ws_nfe.CONSULTANOTASPROTOCOLOResponse" />
  </message>
  <message name="ws_nfe.CONSULTAPROTOCOLOSoapIn">
    <part name="parameters" element="wsdlns:ws_nfe.CONSULTAPROTOCOLO" />
  </message>
  <message name="ws_nfe.CONSULTAPROTOCOLOSoapOut">
    <part name="parameters" element="wsdlns:ws_nfe.CONSULTAPROTOCOLOResponse" />
  </message>
  <message name="ws_nfe.VERFICARPSSoapIn">
    <part name="parameters" element="wsdlns:ws_nfe.VERFICARPS" />
  </message>
  <message name="ws_nfe.VERFICARPSSoapOut">
    <part name="parameters" element="wsdlns:ws_nfe.VERFICARPSResponse" />
  </message>
  <message name="ws_nfe.CANCELANOTAELETRONICASoapIn">
    <part name="parameters" element="wsdlns:ws_nfe.CANCELANOTAELETRONICA" />
  </message>
  <message name="ws_nfe.CANCELANOTAELETRONICASoapOut">
    <part name="parameters" element="wsdlns:ws_nfe.CANCELANOTAELETRONICAResponse" />
  </message>
  <portType name="ws_nfeSoapPort">
    <operation name="PROCESSARPS">
      <input message="wsdlns:ws_nfe.PROCESSARPSSoapIn" />
      <output message="wsdlns:ws_nfe.PROCESSARPSSoapOut" />
    </operation>
    <operation name="CONSULTANOTASPROTOCOLO">
      <input message="wsdlns:ws_nfe.CONSULTANOTASPROTOCOLOSoapIn" />
      <output message="wsdlns:ws_nfe.CONSULTANOTASPROTOCOLOSoapOut" />
    </operation>
    <operation name="CONSULTAPROTOCOLO">
      <input message="wsdlns:ws_nfe.CONSULTAPROTOCOLOSoapIn" />
      <output message="wsdlns:ws_nfe.CONSULTAPROTOCOLOSoapOut" />
    </operation>
    <operation name="VERFICARPS">
      <input message="wsdlns:ws_nfe.VERFICARPSSoapIn" />
      <output message="wsdlns:ws_nfe.VERFICARPSSoapOut" />
    </operation>
    <operation name="CANCELANOTAELETRONICA">
      <input message="wsdlns:ws_nfe.CANCELANOTAELETRONICASoapIn" />
      <output message="wsdlns:ws_nfe.CANCELANOTAELETRONICASoapOut" />
    </operation>
  </portType>
  <binding name="ws_nfeSoapBinding" type="wsdlns:ws_nfeSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="PROCESSARPS">
      <soap:operation soapAction="NFeaction/AWS_NFE.PROCESSARPS" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CONSULTANOTASPROTOCOLO">
      <soap:operation soapAction="NFeaction/AWS_NFE.CONSULTANOTASPROTOCOLO" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CONSULTAPROTOCOLO">
      <soap:operation soapAction="NFeaction/AWS_NFE.CONSULTAPROTOCOLO" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="VERFICARPS">
      <soap:operation soapAction="NFeaction/AWS_NFE.VERFICARPS" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CANCELANOTAELETRONICA">
      <soap:operation soapAction="NFeaction/AWS_NFE.CANCELANOTAELETRONICA" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ws_nfe">
    <port name="ws_nfeSoapPort" binding="wsdlns:ws_nfeSoapBinding">
      <soap:address location="https://nfehomologacao.etransparencia.com.br/mg.varginha/webservice/aws_nfe.aspx" />
    </port>
  </service>
</definitions>