uninfe/Web References/wsCEHInutilizacao/NfeInutilizacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao">
      <s:element name="nfeInutilizacaoNF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nfeCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nfeDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeInutilizacaoNFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nfeInutilizacaoNFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nfeInutilizacaoNFSoapIn">
    <wsdl:part name="parameters" element="tns:nfeInutilizacaoNF" />
  </wsdl:message>
  <wsdl:message name="nfeInutilizacaoNFSoapOut">
    <wsdl:part name="parameters" element="tns:nfeInutilizacaoNFResponse" />
  </wsdl:message>
  <wsdl:portType name="NfeInutilizacao">
    <wsdl:operation name="nfeInutilizacaoNF">
      <wsdl:input message="tns:nfeInutilizacaoNFSoapIn" />
      <wsdl:output message="tns:nfeInutilizacaoNFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeInutilizacao" type="tns:NfeInutilizacao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeInutilizacaoNF">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao/nfeInutilizacaoNF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeInutilizacao">
    <wsdl:port name="NfeInutilizacao" binding="tns:NfeInutilizacao">
      <soap:address location="https://nfeh.sefaz.ce.gov.br:443/nfe/services/NfeInutilizacao" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>