uninfe/Web References/wsGOPConsultaCadastro/CadConsultaCadastro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro" xmlns:impl="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro">
      <xsd:element name="consultaCadastro">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeCabecMsg" type="xsd:string" />
            <xsd:element name="nfeDadosMsg" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaCadastroResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="consultaCadastroResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultaCadastroRequest">
    <wsdl:part name="parameters" element="impl:consultaCadastro" />
  </wsdl:message>
  <wsdl:message name="consultaCadastroResponse">
    <wsdl:part name="parameters" element="impl:consultaCadastroResponse" />
  </wsdl:message>
  <wsdl:portType name="CadConsultaCadastro">
    <wsdl:operation name="consultaCadastro">
      <wsdl:input name="consultaCadastroRequest" message="impl:consultaCadastroRequest" />
      <wsdl:output name="consultaCadastroResponse" message="impl:consultaCadastroResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeConsultaCadastroSoapBinding" type="impl:CadConsultaCadastro">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaCadastro">
      <wsdlsoap:operation soapAction="consultaCadastro" />
      <wsdl:input name="consultaCadastroRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultaCadastroResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CadConsultaCadastro">
    <wsdl:port name="NfeConsultaCadastro" binding="impl:NfeConsultaCadastroSoapBinding">
      <wsdlsoap:address location="https://nfe.sefaz.go.gov.br/nfe/services/CadConsultaCadastro" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>