fontes/NFe.Components/Web References/PLucasDoRioVerdeMTCancelarNfse/WS_CancelarNfse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="FISS-LEX" xmlns:wsdlns="FISS-LEX" name="WS_CancelarNfse" targetNamespace="FISS-LEX" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="FISS-LEX">
      <xsd:element name="WS_CancelarNfse.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Cancelarnfseenvio" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WS_CancelarNfse.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Cancelarnfseresposta" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="WS_CancelarNfse.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:WS_CancelarNfse.Execute" />
  </message>
  <message name="WS_CancelarNfse.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:WS_CancelarNfse.ExecuteResponse" />
  </message>
  <portType name="WS_CancelarNfseSoapPort">
    <operation name="Execute">
      <input message="wsdlns:WS_CancelarNfse.ExecuteSoapIn" />
      <output message="wsdlns:WS_CancelarNfse.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="WS_CancelarNfseSoapBinding" type="wsdlns:WS_CancelarNfseSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="FISS-LEXaction/AWS_CANCELARNFSE.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_CancelarNfse">
    <port name="WS_CancelarNfseSoapPort" binding="wsdlns:WS_CancelarNfseSoapBinding">
      <soap:address location="http://lucasdorioverde.fisslex.com.br/fiss-lex/servlet/aws_cancelarnfse" />
    </port>
  </service>
</definitions>