uninfe/Web References/wsCEPStatusServico/NfeStatusServico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico">
      <s:element name="nfeStatusServicoNF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nfeCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nfeDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeStatusServicoNFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nfeStatusServicoNFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nfeStatusServicoNFSoapIn">
    <wsdl:part name="parameters" element="tns:nfeStatusServicoNF" />
  </wsdl:message>
  <wsdl:message name="nfeStatusServicoNFSoapOut">
    <wsdl:part name="parameters" element="tns:nfeStatusServicoNFResponse" />
  </wsdl:message>
  <wsdl:portType name="NfeStatusServico">
    <wsdl:operation name="nfeStatusServicoNF">
      <wsdl:input message="tns:nfeStatusServicoNFSoapIn" />
      <wsdl:output message="tns:nfeStatusServicoNFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeStatusServico" type="tns:NfeStatusServico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeStatusServicoNF">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico/nfeStatusServicoNF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeStatusServico">
    <wsdl:port name="NfeStatusServico" binding="tns:NfeStatusServico">
      <soap:address location="https://nfe.sefaz.ce.gov.br:443/nfe/services/NfeStatusServico" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>