WSDL/Parana/producao/nfeCancelamentoNF.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento"
	xmlns:intf="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- WSDL liz -->
	<wsdl:types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="nfeCancelamentoNF">
				<complexType>
					<sequence>
						<element name="nfeCabecMsg" type="xsd:string" />
						<element name="nfeDadosMsg" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="nfeCancelamentoNFResponse">
				<complexType>
					<sequence>
						<element name="nfeCancelamentoNFResult" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<message name="nfeCancelamentoNFResponse">
		<part element="impl:nfeCancelamentoNFResponse" name="parameters" />
	</message>
	<message name="nfeCancelamentoNFRequest">
		<part element="impl:nfeCancelamentoNF" name="parameters" />
	</message>
	<portType name="NfeCancelamento">
		<operation name="nfeCancelamentoNF">
			<input message="impl:nfeCancelamentoNFRequest" name="nfeCancelamentoNFRequest" />
			<output message="impl:nfeCancelamentoNFResponse" name="nfeCancelamentoNFResponse" />
		</operation>
	</portType>
	<binding name="nfeCancelamentoNFSoapBinding"
		type="impl:NfeCancelamento">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="nfeCancelamentoNF">
			<wsdlsoap:operation soapAction="" />
			<input name="nfeCancelamentoNFRequest">
				<wsdlsoap:body use="literal" />
			</input>
			<output name="nfeCancelamentoNFResponse">
				<wsdlsoap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="NfeCancelamentoService">
		<port binding="impl:nfeCancelamentoNFSoapBinding"
			name="nfeCancelamentoNF">
			<wsdlsoap:address
				location="https://nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeCancelamentoNF" />
		</port>
	</service>
</definitions>
