uninfe/Web References/wsPRHCancelamento/nfeCancelamentoNF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento" xmlns:impl="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento">
      <xsd:element name="nfeCancelamentoNF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeCabecMsg" type="xsd:string" />
            <xsd:element name="nfeDadosMsg" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nfeCancelamentoNFResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeCancelamentoNFReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insereZeroEsquerda">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="number" type="xsd:string" />
            <xsd:element name="intLength" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insereZeroEsquerdaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="insereZeroEsquerdaReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="insereZeroEsquerdaRequest">
    <wsdl:part name="parameters" element="impl:insereZeroEsquerda" />
  </wsdl:message>
  <wsdl:message name="nfeCancelamentoNFResponse">
    <wsdl:part name="parameters" element="impl:nfeCancelamentoNFResponse" />
  </wsdl:message>
  <wsdl:message name="nfeCancelamentoNFRequest">
    <wsdl:part name="parameters" element="impl:nfeCancelamentoNF" />
  </wsdl:message>
  <wsdl:message name="insereZeroEsquerdaResponse">
    <wsdl:part name="parameters" element="impl:insereZeroEsquerdaResponse" />
  </wsdl:message>
  <wsdl:portType name="NfeCancelamento">
    <wsdl:operation name="nfeCancelamentoNF">
      <wsdl:input name="nfeCancelamentoNFRequest" message="impl:nfeCancelamentoNFRequest" />
      <wsdl:output name="nfeCancelamentoNFResponse" message="impl:nfeCancelamentoNFResponse" />
    </wsdl:operation>
    <wsdl:operation name="insereZeroEsquerda">
      <wsdl:input name="insereZeroEsquerdaRequest" message="impl:insereZeroEsquerdaRequest" />
      <wsdl:output name="insereZeroEsquerdaResponse" message="impl:insereZeroEsquerdaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="nfeCancelamentoNFSoapBinding" type="impl:NfeCancelamento">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeCancelamentoNF">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="nfeCancelamentoNFRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeCancelamentoNFResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insereZeroEsquerda">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="insereZeroEsquerdaRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="insereZeroEsquerdaResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeCancelamentoService">
    <wsdl:port name="nfeCancelamentoNF" binding="impl:nfeCancelamentoNFSoapBinding">
      <wsdlsoap:address location="https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeCancelamentoNF" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>