fontes/NFe.Components/Web References/br.com.nfeosasco.www.p/NotaFiscalEletronica1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://nfe.osasco.sp.gov.br/EissnfeWebServices/NotaFiscalEletronica.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" />
  <xs:element name="Emitir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" minOccurs="0" name="request" nillable="true" type="q1:EmissaoNotaFiscalRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" minOccurs="0" name="EmitirResult" nillable="true" type="q2:EmissaoNotaFiscalResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancelar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" minOccurs="0" name="request" nillable="true" type="q3:CancelamentoNotaFiscalRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" minOccurs="0" name="CancelarResult" nillable="true" type="q4:CancelamentoNotaFiscalResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirEmLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" minOccurs="0" name="request" nillable="true" type="q5:EmissaoNotaFiscalLoteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirEmLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" minOccurs="0" name="EmitirEmLoteResult" nillable="true" type="q6:EmissaoNotaFiscalLoteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" minOccurs="0" name="request" nillable="true" type="q7:ConsultaNotaFiscalLoteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" minOccurs="0" name="ConsultarLoteResult" nillable="true" type="q8:ConsultaNotaFiscalLoteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" minOccurs="0" name="request" nillable="true" type="q9:ConsultaNotaFiscalRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Eissnfe.Negocio.WebServices.Mensagem" minOccurs="0" name="ConsultarResult" nillable="true" type="q10:ConsultaNotaFiscalResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>