fontes/NFe.Components.Wsdl/NFe/WSDL/Homologacao/MS/HMSCteConsulta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado ao atendimento de solicitações de consulta da situação atual do CT-e na Base de Dados do Portal da Secretaria de Fazenda Estadual.</wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta">
            <s:element name="cteDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="cteConsultaCTResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="cteCabecMsg" type="tns:CTeCabecMsg"/>
            <s:complexType name="CTeCabecMsg">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="cteConsultaCTSoap12In">
        <wsdl:part name="cteDadosMsg" element="tns:cteDadosMsg"/>
    </wsdl:message>
    <wsdl:message name="cteConsultaCTSoap12Out">
        <wsdl:part name="cteConsultaCTResult" element="tns:cteConsultaCTResult"/>
    </wsdl:message>
    <wsdl:message name="cteConsultaCTcteCabecMsg">
        <wsdl:part name="cteCabecMsg" element="tns:cteCabecMsg"/>
    </wsdl:message>
    <wsdl:portType name="CteConsultaSoap12">
        <wsdl:operation name="cteConsultaCT">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta situação atual da CT-e</wsdl:documentation>
            <wsdl:input message="tns:cteConsultaCTSoap12In"/>
            <wsdl:output message="tns:cteConsultaCTSoap12Out"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CteConsultaSoap12" type="tns:CteConsultaSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cteConsultaCT">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta/cteConsultaCT" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:cteConsultaCTcteCabecMsg" part="cteCabecMsg" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
                <soap12:header message="tns:cteConsultaCTcteCabecMsg" part="cteCabecMsg" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CteConsulta">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado ao atendimento de solicitações de consulta da situação atual do CT-e na Base de Dados do Portal da Secretaria de Fazenda Estadual.</wsdl:documentation>
        <wsdl:port name="CteConsultaSoap12" binding="tns:CteConsultaSoap12">
            <soap12:address location="https://homologacao.cte.ms.gov.br:443/ws/CteConsulta"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>