fontes/NFe.Components.Wsdl/NFe/WSDL/Homologacao/MS/HMSCteRecepcao.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcao" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcao">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado à recepção de mensagens de lote de CT-e</wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcao">
            <s:element name="cteDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="cteRecepcaoLoteResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="cteCabecMsg" type="tns:CTeCabecMsg"/>
            <s:complexType name="CTeCabecMsg">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="cteRecepcaoLoteSoap12In">
        <wsdl:part name="cteDadosMsg" element="tns:cteDadosMsg"/>
    </wsdl:message>
    <wsdl:message name="cteRecepcaoLoteSoap12Out">
        <wsdl:part name="cteRecepcaoLoteResult" element="tns:cteRecepcaoLoteResult"/>
    </wsdl:message>
    <wsdl:message name="cteRecepcaoLotecteCabecMsg">
        <wsdl:part name="cteCabecMsg" element="tns:cteCabecMsg"/>
    </wsdl:message>
    <wsdl:portType name="CteRecepcaoSoap12">
        <wsdl:operation name="cteRecepcaoLote">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Transmissão de Lote de CT-e</wsdl:documentation>
            <wsdl:input message="tns:cteRecepcaoLoteSoap12In"/>
            <wsdl:output message="tns:cteRecepcaoLoteSoap12Out"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CteRecepcaoSoap12" type="tns:CteRecepcaoSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cteRecepcaoLote">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcao/cteRecepcaoLote" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:cteRecepcaoLotecteCabecMsg" part="cteCabecMsg" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
                <soap12:header message="tns:cteRecepcaoLotecteCabecMsg" part="cteCabecMsg" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CteRecepcao">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado à recepção de mensagens de lote de CT-e</wsdl:documentation>
        <wsdl:port name="CteRecepcaoSoap12" binding="tns:CteRecepcaoSoap12">
            <soap12:address location="https://homologacao.cte.ms.gov.br:443/ws/CteRecepcao"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>