fontes/NFe.Components/Web References/PLucasDoRioVerdeMTRecepcionarLoteRps/WS_RecepcionarLoteRps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="FISS-LEX" xmlns:wsdlns="FISS-LEX" name="WS_RecepcionarLoteRps" targetNamespace="FISS-LEX" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="FISS-LEX">
      <xsd:element name="WS_RecepcionarLoteRps.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Enviarloterpsenvio" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WS_RecepcionarLoteRps.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Enviarloterpsresposta" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="WS_RecepcionarLoteRps.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:WS_RecepcionarLoteRps.Execute" />
  </message>
  <message name="WS_RecepcionarLoteRps.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:WS_RecepcionarLoteRps.ExecuteResponse" />
  </message>
  <portType name="WS_RecepcionarLoteRpsSoapPort">
    <operation name="Execute">
      <input message="wsdlns:WS_RecepcionarLoteRps.ExecuteSoapIn" />
      <output message="wsdlns:WS_RecepcionarLoteRps.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="WS_RecepcionarLoteRpsSoapBinding" type="wsdlns:WS_RecepcionarLoteRpsSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="FISS-LEXaction/AWS_RECEPCIONARLOTERPS.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_RecepcionarLoteRps">
    <port name="WS_RecepcionarLoteRpsSoapPort" binding="wsdlns:WS_RecepcionarLoteRpsSoapBinding">
      <soap:address location="http://lucasdorioverde.fisslex.com.br/fiss-lex/servlet/aws_recepcionarloterps" />
    </port>
  </service>
</definitions>