uninfe/Web References/wsMGHConsultaCadastro/CadConsultaCadastro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro">
      <xsd:element name="consultaCadastro">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaCadastroResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultaCadastroRequest">
    <wsdl:part name="parameters" element="tns:consultaCadastro" />
  </wsdl:message>
  <wsdl:message name="consultaCadastroResponse">
    <wsdl:part name="parameters" element="tns:consultaCadastroResponse" />
  </wsdl:message>
  <wsdl:portType name="CadConsultaCadastroPortType">
    <wsdl:operation name="consultaCadastro">
      <wsdl:input name="consultaCadastroRequest" message="tns:consultaCadastroRequest" />
      <wsdl:output name="consultaCadastroResponse" message="tns:consultaCadastroResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CadConsultaCadastroHttpBinding" type="tns:CadConsultaCadastroPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaCadastro">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="consultaCadastroRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultaCadastroResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CadConsultaCadastro">
    <wsdl:port name="CadConsultaCadastroHttpPort" binding="tns:CadConsultaCadastroHttpBinding">
      <wsdlsoap:address location="https://hnfe.fazenda.mg.gov.br/nfe/services/CadConsultaCadastro" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>