uninfe/Web References/wsMTHInutilizacao/NfeInutilizacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao" xmlns:impl="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeInutilizacao">
      <xsd:element name="nfeInutilizacaoNF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeCabecMsg" type="xsd:string" />
            <xsd:element name="nfeDadosMsg" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nfeInutilizacaoNFResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfeInutilizacaoNFResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="nfeInutilizacaoNFRequest">
    <wsdl:part name="parameters" element="impl:nfeInutilizacaoNF" />
  </wsdl:message>
  <wsdl:message name="nfeInutilizacaoNFResponse">
    <wsdl:part name="parameters" element="impl:nfeInutilizacaoNFResponse" />
  </wsdl:message>
  <wsdl:portType name="NfeInutilizacao">
    <wsdl:operation name="nfeInutilizacaoNF">
      <wsdl:input name="nfeInutilizacaoNFRequest" message="impl:nfeInutilizacaoNFRequest" />
      <wsdl:output name="nfeInutilizacaoNFResponse" message="impl:nfeInutilizacaoNFResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeInutilizacaoSoapBinding" type="impl:NfeInutilizacao">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeInutilizacaoNF">
      <wsdlsoap:operation soapAction="nfeInutilizacaoNF" />
      <wsdl:input name="nfeInutilizacaoNFRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nfeInutilizacaoNFResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeInutilizacao">
    <wsdl:port name="NfeInutilizacao" binding="impl:NfeInutilizacaoSoapBinding">
      <wsdlsoap:address location="https://homologacao.sefaz.mt.gov.br/nfews/NfeInutilizacao" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>