branches/build_dotnet35/fontes/NFe.Components/Web References/br.com.fisslex.demo.aws_consultanfse.h/WS_ConsultaNfse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="FISS-LEX" xmlns:wsdlns="FISS-LEX" name="WS_ConsultaNfse" targetNamespace="FISS-LEX" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="FISS-LEX">
      <xsd:complexType name="ConsultarNfseEnvio">
        <xsd:sequence>
          <xsd:element form="unqualified" name="Prestador" type="wsdlns:tcIdentificacaoPrestador" />
          <xsd:element form="unqualified" name="NumeroNfse" type="xsd:int" />
          <xsd:element form="unqualified" name="PeriodoEmissao" type="wsdlns:ABRASFConsultarNfseEnvio.PeriodoEmissao" />
          <xsd:element form="unqualified" name="Tomador" type="wsdlns:tcIdentificacaoTomador" />
          <xsd:element form="unqualified" name="IntermediarioServico" type="wsdlns:tcIdentificacaoIntermediarioServico" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tcIdentificacaoPrestador">
        <xsd:sequence>
          <xsd:element form="unqualified" name="Cnpj" type="xsd:string" />
          <xsd:element form="unqualified" name="InscricaoMunicipal" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ABRASFConsultarNfseEnvio.PeriodoEmissao">
        <xsd:sequence>
          <xsd:element form="unqualified" name="DataInicial" nillable="true" type="xsd:dateTime" />
          <xsd:element form="unqualified" name="DataFinal" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tcIdentificacaoTomador">
        <xsd:sequence>
          <xsd:element form="unqualified" name="CpfCnpj" type="wsdlns:tcCpfCnpj" />
          <xsd:element form="unqualified" name="InscricaoMunicipal" type="xsd:string" />
          <xsd:element form="unqualified" name="InscricaoEstadual" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tcIdentificacaoIntermediarioServico">
        <xsd:sequence>
          <xsd:element form="unqualified" name="RazaoSocial" type="xsd:string" />
          <xsd:element form="unqualified" name="CpfCnpj" type="wsdlns:tcCpfCnpj" />
          <xsd:element form="unqualified" name="InscricaoMunicipal" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tcCpfCnpj">
        <xsd:sequence>
          <xsd:element form="unqualified" name="Cpf" type="xsd:string" />
          <xsd:element form="unqualified" name="Cnpj" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOftcMensagemRetorno">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="tcMensagemRetorno" type="wsdlns:tcMensagemRetorno" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="tcMensagemRetorno">
        <xsd:sequence>
          <xsd:element form="unqualified" name="Codigo" type="xsd:string" />
          <xsd:element form="unqualified" name="Mensagem" type="xsd:string" />
          <xsd:element form="unqualified" name="Correcao" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="WS_ConsultaNfse.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Consultarnfseenvio" type="wsdlns:ConsultarNfseEnvio" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WS_ConsultaNfse.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Consultarnfseresposta" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Listamensagemretorno" type="wsdlns:ArrayOftcMensagemRetorno" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="WS_ConsultaNfse.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:WS_ConsultaNfse.Execute" />
  </message>
  <message name="WS_ConsultaNfse.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:WS_ConsultaNfse.ExecuteResponse" />
  </message>
  <portType name="WS_ConsultaNfseSoapPort">
    <operation name="Execute">
      <input message="wsdlns:WS_ConsultaNfse.ExecuteSoapIn" />
      <output message="wsdlns:WS_ConsultaNfse.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="WS_ConsultaNfseSoapBinding" type="wsdlns:WS_ConsultaNfseSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="FISS-LEXaction/AWS_CONSULTANFSE.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_ConsultaNfse">
    <port name="WS_ConsultaNfseSoapPort" binding="wsdlns:WS_ConsultaNfseSoapBinding">
      <soap:address location="http://demo.fisslex.com.br/fiss-lex/servlet/aws_consultanfse" />
    </port>
  </service>
</definitions>