fontes/NFe.Components/Web References/br.com.rlz.ceiss.santafedosul.p/server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:server.issqn" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:server.issqn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:server.issqn">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="NotasArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Nota[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Nota">
        <xsd:all>
          <xsd:element name="guia" type="xsd:string" />
          <xsd:element name="numero" type="xsd:integer" />
          <xsd:element name="mes" type="xsd:integer" />
          <xsd:element name="cidade" type="xsd:string" />
          <xsd:element name="uf" type="xsd:string" />
          <xsd:element name="exercicio" type="xsd:integer" />
          <xsd:element name="data" type="xsd:date" />
          <xsd:element name="modelo" type="xsd:string" />
          <xsd:element name="serie" type="xsd:string" />
          <xsd:element name="apuracao" type="xsd:string" />
          <xsd:element name="valor" type="xsd:double" />
          <xsd:element name="valorimposto" type="xsd:double" />
          <xsd:element name="situacao" type="xsd:string" />
          <xsd:element name="deducao" type="xsd:double" />
          <xsd:element name="basecalculo" type="xsd:double" />
          <xsd:element name="servicos" type="tns:ServicosArray" />
          <xsd:element name="tomador" type="tns:Contribuinte" />
          <xsd:element name="prestador" type="tns:Contribuinte" />
          <xsd:element name="url" type="xsd:string" />
          <xsd:element name="codigo" type="xsd:integer" />
          <xsd:element name="mensagem" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ServicosArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Servico[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Servico">
        <xsd:all>
          <xsd:element name="quantidade" type="xsd:double" />
          <xsd:element name="atividade" type="xsd:string" />
          <xsd:element name="valor" type="xsd:double" />
          <xsd:element name="deducao" type="xsd:double" />
          <xsd:element name="codigoservico" type="xsd:string" />
          <xsd:element name="aliquota" type="xsd:double" />
          <xsd:element name="inss" type="xsd:double" />
          <xsd:element name="total" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Contribuinte">
        <xsd:all>
          <xsd:element name="endereco" type="xsd:string" />
          <xsd:element name="numero" type="xsd:integer" />
          <xsd:element name="complemento" type="xsd:string" />
          <xsd:element name="bairro" type="xsd:string" />
          <xsd:element name="cep" type="xsd:string" />
          <xsd:element name="cidade" type="xsd:string" />
          <xsd:element name="uf" type="xsd:string" />
          <xsd:element name="pais" type="xsd:string" />
          <xsd:element name="nome" type="xsd:string" />
          <xsd:element name="nomefantasia" type="xsd:string" />
          <xsd:element name="inscricao" type="xsd:string" />
          <xsd:element name="passaporte" type="xsd:string" />
          <xsd:element name="cpfcnpj" type="xsd:string" />
          <xsd:element name="rgie" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="ddd" type="xsd:integer" />
          <xsd:element name="fone" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="paramsListarNotas">
        <xsd:all>
          <xsd:element name="ano" type="xsd:integer" />
          <xsd:element name="mes" type="xsd:integer" />
          <xsd:element name="cpfcnpj" type="xsd:string" />
          <xsd:element name="inscricao" type="xsd:string" />
          <xsd:element name="chave" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="paramsGravaNota">
        <xsd:all>
          <xsd:element name="cpfcnpj" type="xsd:string" />
          <xsd:element name="inscricao" type="xsd:string" />
          <xsd:element name="chave" type="xsd:string" />
          <xsd:element name="cep" type="xsd:string" />
          <xsd:element name="data" type="xsd:date" />
          <xsd:element name="modelo" type="xsd:string" />
          <xsd:element name="serie" type="xsd:string" />
          <xsd:element name="fatura" type="xsd:string" />
          <xsd:element name="orcamento" type="xsd:string" />
          <xsd:element name="vencimento" type="xsd:date" />
          <xsd:element name="tipo" type="tns:tipoDeducao" />
          <xsd:element name="pis" type="xsd:double" />
          <xsd:element name="csll" type="xsd:double" />
          <xsd:element name="cofins" type="xsd:double" />
          <xsd:element name="irff" type="xsd:double" />
          <xsd:element name="situacao" type="xsd:string" />
          <xsd:element name="optante" type="xsd:string" />
          <xsd:element name="aliquota" type="xsd:double" />
          <xsd:element name="texto" type="xsd:string" />
          <xsd:element name="servicos" type="tns:ServicosArray" />
          <xsd:element name="tomador" type="tns:Contribuinte" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="paramsListarTomador">
        <xsd:all>
          <xsd:element name="cpfcnpj" type="xsd:string" />
          <xsd:element name="inscricao" type="xsd:string" />
          <xsd:element name="cpfcnpjtomador" type="xsd:string" />
          <xsd:element name="chave" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:simpleType name="tipoDeducao">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Percentual" />
          <xsd:enumeration value="Valor" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="gravaNotaRequest">
    <wsdl:part name="params" type="tns:paramsGravaNota" />
  </wsdl:message>
  <wsdl:message name="gravaNotaResponse">
    <wsdl:part name="return" type="tns:Nota" />
  </wsdl:message>
  <wsdl:message name="gravaNotaXMLRequest">
    <wsdl:part name="params" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="gravaNotaXMLResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarNotasRequest">
    <wsdl:part name="params" type="tns:paramsListarNotas" />
  </wsdl:message>
  <wsdl:message name="listarNotasResponse">
    <wsdl:part name="return" type="tns:NotasArray" />
  </wsdl:message>
  <wsdl:message name="listarNotasXMLRequest">
    <wsdl:part name="params" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarNotasXMLResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="Webservice PrefeituraPortType">
    <wsdl:operation name="gravaNota">
      <wsdl:input message="tns:gravaNotaRequest" />
      <wsdl:output message="tns:gravaNotaResponse" />
    </wsdl:operation>
    <wsdl:operation name="gravaNotaXML">
      <documentation>Enviar em XML</documentation>
      <wsdl:input message="tns:gravaNotaXMLRequest" />
      <wsdl:output message="tns:gravaNotaXMLResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarNotas">
      <wsdl:input message="tns:listarNotasRequest" />
      <wsdl:output message="tns:listarNotasResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarNotasXML">
      <documentation>Enviar em XML</documentation>
      <wsdl:input message="tns:listarNotasXMLRequest" />
      <wsdl:output message="tns:listarNotasXMLResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Webservice PrefeituraBinding" type="tns:Webservice PrefeituraPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="gravaNota">
      <soap:operation soapAction="urn:server.issqn#gravaNota" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:server.issqn" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:server.issqn" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gravaNotaXML">
      <soap:operation soapAction="urn:server.issqn#gravaNotaXML" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:server.issqn" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:server.issqn" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarNotas">
      <soap:operation soapAction="urn:server.issqn#listarNotas" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:server.issqn" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:server.issqn" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarNotasXML">
      <soap:operation soapAction="urn:server.issqn#listarNotasXML" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:server.issqn" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:server.issqn" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Webservice Prefeitura">
    <wsdl:port name="Webservice PrefeituraPort" binding="tns:Webservice PrefeituraBinding">
      <soap:address location="http://ceiss.rlz.com.br/amfphp/services/RLZ/webservice/server.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>