fontes/NFe.Components/Web References/br.gov.sp.piracicaba.sistemas.www.p/nfseservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sistema.com.br/Sistema.Ws.Nfse.Cn" elementFormDefault="qualified" targetNamespace="http://www.sistema.com.br/Sistema.Ws.Nfse.Cn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ddDuasStrings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="P1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="P2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>