uninfe/Web References/wsCEHCancelamento/NfeCancelamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento">
      <s:element name="nfeCancelamentoNF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nfeCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nfeDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeCancelamentoNFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nfeCancelamentoNFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nfeCancelamentoNFSoapIn">
    <wsdl:part name="parameters" element="tns:nfeCancelamentoNF" />
  </wsdl:message>
  <wsdl:message name="nfeCancelamentoNFSoapOut">
    <wsdl:part name="parameters" element="tns:nfeCancelamentoNFResponse" />
  </wsdl:message>
  <wsdl:portType name="NfeCancelamento">
    <wsdl:operation name="nfeCancelamentoNF">
      <wsdl:input message="tns:nfeCancelamentoNFSoapIn" />
      <wsdl:output message="tns:nfeCancelamentoNFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeCancelamento" type="tns:NfeCancelamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeCancelamentoNF">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento/nfeCancelamentoNF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeCancelamento">
    <wsdl:port name="NfeCancelamento" binding="tns:NfeCancelamento">
      <soap:address location="https://nfeh.sefaz.ce.gov.br:443/nfe/services/NfeCancelamento" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>