uninfe/Web References/wsCEPConsultaCadastro/CadConsultaCadastro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro">
      <s:element name="consultaCadastro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nfeCabecMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nfeDadosMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaCadastroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaCadastroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultaCadastroSoapIn">
    <wsdl:part name="parameters" element="tns:consultaCadastro" />
  </wsdl:message>
  <wsdl:message name="consultaCadastroSoapOut">
    <wsdl:part name="parameters" element="tns:consultaCadastroResponse" />
  </wsdl:message>
  <wsdl:portType name="CadConsultaCadastro">
    <wsdl:operation name="consultaCadastro">
      <wsdl:input message="tns:consultaCadastroSoapIn" />
      <wsdl:output message="tns:consultaCadastroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CadConsultaCadastro" type="tns:CadConsultaCadastro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaCadastro">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro/consultaCadastro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CadConsultaCadastro">
    <wsdl:port name="CadConsultaCadastro" binding="tns:CadConsultaCadastro">
      <soap:address location="https://nfe.sefaz.ce.gov.br:443/nfe/services/CadConsultaCadastro" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>