fontes/NFe.Components/Web References/HMemory/HMemory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:loterpswsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:loterpswsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:loterpswsdl">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="tm_lote_rps_service.testarLoteRPSRequest">
    <wsdl:part name="xml" type="xsd:string" />
    <wsdl:part name="codMunicipio" type="xsd:string" />
    <wsdl:part name="cnpjPrestador" type="xsd:string" />
    <wsdl:part name="hashValidador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.testarLoteRPSResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.importarLoteRPSRequest">
    <wsdl:part name="xml" type="xsd:string" />
    <wsdl:part name="codMunicipio" type="xsd:string" />
    <wsdl:part name="cnpjPrestador" type="xsd:string" />
    <wsdl:part name="hashValidador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.importarLoteRPSResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.consultarLoteRPSRequest">
    <wsdl:part name="protocolo" type="xsd:string" />
    <wsdl:part name="codMunicipio" type="xsd:string" />
    <wsdl:part name="cnpjPrestador" type="xsd:string" />
    <wsdl:part name="hashValidador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.consultarLoteRPSResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.consultarRPSRequest">
    <wsdl:part name="numeroRPS" type="xsd:string" />
    <wsdl:part name="codMunicipio" type="xsd:string" />
    <wsdl:part name="cnpjPrestador" type="xsd:string" />
    <wsdl:part name="hashValidador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.consultarRPSResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.cancelarNFSERequest">
    <wsdl:part name="numeroNFSE" type="xsd:string" />
    <wsdl:part name="codMunicipio" type="xsd:string" />
    <wsdl:part name="cnpjPrestador" type="xsd:string" />
    <wsdl:part name="hashValidador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.cancelarNFSEResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.consultarNFSERequest">
    <wsdl:part name="numeroNFSE" type="xsd:string" />
    <wsdl:part name="codMunicipio" type="xsd:string" />
    <wsdl:part name="cnpjPrestador" type="xsd:string" />
    <wsdl:part name="hashValidador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.consultarNFSEResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.servicoRPSRequest">
    <wsdl:part name="nomeServico" type="xsd:string" />
    <wsdl:part name="parametros" type="xsd:string" />
    <wsdl:part name="codMunicipio" type="xsd:string" />
    <wsdl:part name="cnpjPrestador" type="xsd:string" />
    <wsdl:part name="hashValidador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="tm_lote_rps_service.servicoRPSResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="loterpswsdlPortType">
    <wsdl:operation name="tm_lote_rps_service.testarLoteRPS">
      <documentation>Efetua um teste na importação do lote RPS e retorna um xml com avisos, erros e confirmações emitidas pelo sistema, além de um boleando ("Status") informando a situação do teste, ou seja, TRUE para sucesso e FALSE para falha.</documentation>
      <wsdl:input message="tns:tm_lote_rps_service.testarLoteRPSRequest" />
      <wsdl:output message="tns:tm_lote_rps_service.testarLoteRPSResponse" />
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.importarLoteRPS">
      <documentation>Efetua a importação do lote RPS e retorna um xml com avisos, erros e confirmações emitidas pelo sistema, além de um boleando ("Status") informando a situação do teste, ou seja, TRUE para sucesso e FALSE para falha. Este método executará o teste de validade do lote antes de efetuar a importação. Em caso de sucesso, será retornado também o protocolo gerado para o lote, que poderá ser utilizado para consulta mais tarde. </documentation>
      <wsdl:input message="tns:tm_lote_rps_service.importarLoteRPSRequest" />
      <wsdl:output message="tns:tm_lote_rps_service.importarLoteRPSResponse" />
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.consultarLoteRPS">
      <documentation>Efetua uma consulta no estado do lote de RPS's através do protocolo de importação, gerado apenas em caso de sucesso.</documentation>
      <wsdl:input message="tns:tm_lote_rps_service.consultarLoteRPSRequest" />
      <wsdl:output message="tns:tm_lote_rps_service.consultarLoteRPSResponse" />
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.consultarRPS">
      <documentation>Efetua uma consulta no estado do RPS's através do protocolo de importação, gerado apenas em caso de sucesso.</documentation>
      <wsdl:input message="tns:tm_lote_rps_service.consultarRPSRequest" />
      <wsdl:output message="tns:tm_lote_rps_service.consultarRPSResponse" />
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.cancelarNFSE">
      <documentation>Efetua o cancelamento de uma nota fiscal.</documentation>
      <wsdl:input message="tns:tm_lote_rps_service.cancelarNFSERequest" />
      <wsdl:output message="tns:tm_lote_rps_service.cancelarNFSEResponse" />
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.consultarNFSE">
      <documentation>Efetua uma consulta a uma nota fiscal.</documentation>
      <wsdl:input message="tns:tm_lote_rps_service.consultarNFSERequest" />
      <wsdl:output message="tns:tm_lote_rps_service.consultarNFSEResponse" />
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.servicoRPS">
      <documentation>Envoca um serviço relacionados a RPS's.</documentation>
      <wsdl:input message="tns:tm_lote_rps_service.servicoRPSRequest" />
      <wsdl:output message="tns:tm_lote_rps_service.servicoRPSResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="loterpswsdlBinding" type="tns:loterpswsdlPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="tm_lote_rps_service.testarLoteRPS">
      <soap:operation soapAction="urn:loterpswsdl#tm_lote_rps_service.testarLoteRPS" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.importarLoteRPS">
      <soap:operation soapAction="urn:loterpswsdl#tm_lote_rps_service.importarLoteRPS" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.consultarLoteRPS">
      <soap:operation soapAction="urn:loterpswsdl#tm_lote_rps_service.consultarLoteRPS" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.consultarRPS">
      <soap:operation soapAction="urn:loterpswsdl#tm_lote_rps_service.consultarRPS" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.cancelarNFSE">
      <soap:operation soapAction="urn:loterpswsdl#tm_lote_rps_service.cancelarNFSE" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.consultarNFSE">
      <soap:operation soapAction="urn:loterpswsdl#tm_lote_rps_service.consultarNFSE" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tm_lote_rps_service.servicoRPS">
      <soap:operation soapAction="urn:loterpswsdl#tm_lote_rps_service.servicoRPS" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:loterpswsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="loterpswsdl">
    <wsdl:port name="loterpswsdlPort" binding="tns:loterpswsdlBinding">
      <soap:address location="http://web1.memory.com.br:81/nfse/ws/lote_rps_service.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>