NFe.Components.Wsdl/NFe/WSDL/Homologacao/MS/HMSNfeStatusServico2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2">
    <types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2">
            <xsd:element name="nfeDadosMsg">
                <xsd:complexType mixed="true">
                    <xsd:sequence>
                        <xsd:any/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="nfeStatusServicoNF2Result">
                <xsd:complexType mixed="true">
                    <xsd:sequence>
                        <xsd:any/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
            <xsd:complexType name="nfeCabecMsg">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="cUF" type="xs:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="versaoDados" type="xs:string"/>
                </xsd:sequence>
                <xsd:anyAttribute/>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="NfeStatusServicoNF2Request">
        <part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <message name="NfeStatusServicoNF2Response">
        <part name="nfeStatusServicoNF2Result" element="tns:nfeStatusServicoNF2Result"/>
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <portType name="NfeStatusServico2Soap">
        <operation name="nfeStatusServicoNF2">
            <input message="tns:NfeStatusServicoNF2Request"/>
            <output message="tns:NfeStatusServicoNF2Response"/>
        </operation>
    </portType>
    <binding name="NfeStatusServico2Soap12" type="tns:NfeStatusServico2Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="nfeStatusServicoNF2">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2/nfeStatusServicoNF2" style="document"/>
            <input>
                <soap12:body use="literal" parts="nfeDadosMsg"/>
                <soap12:header message="tns:NfeStatusServicoNF2Request" part="nfeCabecMsg" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal" parts="nfeStatusServicoNF2Result"/>
                <soap12:header message="tns:NfeStatusServicoNF2Response" part="nfeCabecMsg" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NfeStatusServico2">
        <port name="nfeStatusServico2Soap12" binding="tns:NfeStatusServico2Soap12">
            <soap12:address location="https://homologacao.nfe.ms.gov.br:443/homologacao/services2/NfeStatusServico2"/>
        </port>
    </service>
</definitions>