NFe.Components.Wsdl/NFe/WSDL/Homologacao/MS/HMSNfeConsulta2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="NfeConsulta2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2">
    <types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2">
                <xsd:element name="nfeDadosMsg">
                    <xsd:complexType mixed="true">
                        <xsd:sequence>
                            <xsd:any/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="nfeConsultaNF2Result">
                    <xsd:complexType mixed="true">
                        <xsd:sequence>
                            <xsd:any/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            <xsd:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
            <xsd:complexType name="nfeCabecMsg">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="cUF" type="xs:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="versaoDados" type="xs:string"/>
                </xsd:sequence>
                <xsd:anyAttribute/>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="NfeConsultaNF2Request">
        <part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <message name="NfeConsultaNF2Response">
        <part name="nfeConsultaNF2Result" element="tns:nfeConsultaNF2Result"/>
        <part name="nfeCabecMsg" element="tns:nfeCabecMsg"/>
    </message>
    <portType name="NfeConsulta2Soap">
        <operation name="nfeConsultaNF2">
            <input message="tns:NfeConsultaNF2Request"/>
            <output message="tns:NfeConsultaNF2Response"/>
        </operation>
    </portType>
    <binding name="NfeConsulta2Soap12" type="tns:NfeConsulta2Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="nfeConsultaNF2">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2/nfeConsultaNF2" style="document"/>
            <input>
                <soap12:body use="literal" parts="nfeDadosMsg"/>
                <soap12:header message="tns:NfeConsultaNF2Request" part="nfeCabecMsg" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal" parts="nfeConsultaNF2Result"/>
                <soap12:header message="tns:NfeConsultaNF2Response" part="nfeCabecMsg" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NfeConsulta2">
        <port name="nfeConsulta2Soap12" binding="tns:NfeConsulta2Soap12">
            <soap12:address location="https://homologacao.nfe.ms.gov.br:443/homologacao/services2/NfeConsulta2"/>
        </port>
    </service>
</definitions>