fontes/NFe.Components/Web References/PWebfiscoTecnologia_ConsultarNfe/PWebfiscoTecnologia-ConsultarNfe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://187.32.116.170/issqn/wservice/wsnfeconsulta.php" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://187.32.116.170/issqn/wservice/wsnfeconsulta.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://187.32.116.170/issqn/wservice/wsnfeconsulta.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="StrConsultaNfe">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:ConsultaNfe[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ConsultaNfe">
        <xsd:all>
          <xsd:element name="okk" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaNfeRequest">
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="pass" type="xsd:string" />
    <wsdl:part name="prf" type="xsd:string" />
    <wsdl:part name="usr" type="xsd:string" />
    <wsdl:part name="ctr" type="xsd:string" />
    <wsdl:part name="tipo" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaNfeResponse">
    <wsdl:part name="return" type="tns:StrConsultaNfe" />
  </wsdl:message>
  <wsdl:portType name="webservicePortType">
    <wsdl:operation name="ConsultaNfe">
      <wsdl:input message="tns:ConsultaNfeRequest" />
      <wsdl:output message="tns:ConsultaNfeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webserviceBinding" type="tns:webservicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="ConsultaNfe">
      <soap:operation soapAction="http://www.webfiscotecnologia.com.br/issqn/wservice/wsnfeconsulta.php/ConsultaNfe" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="webservice">
    <wsdl:port name="webservicePort" binding="tns:webserviceBinding">
      <soap:address location="https://www.webfiscotecnologia.com.br/issqn/wservice/wsnfeconsulta.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>