fontes/NFe.Components/Web References/PSenadorCanedoGO/nfseWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.ws.integration.pm.bsit.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://ws.integration.pm.bsit.com.br/" name="nfseWS" targetNamespace="http://impl.ws.integration.pm.bsit.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://ws.integration.pm.bsit.com.br/" location="http://gestaopublica.canedo.bsit-br.com.br/integracao/services/nfseWS?wsdl=nfseWS.wsdl" />
  <wsdl:types />
  <wsdl:binding name="nfseWSSoapBinding" type="ns1:nfseWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="credenciarUsuarioDEISS">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="credenciarUsuarioDEISS">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="credenciarUsuarioDEISSResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="credenciarUsuarioNfse">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="credenciarUsuarioNfse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="credenciarUsuarioNfseResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarRps">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="cancelarRps">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="cancelarRpsResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarStatusIntegracao">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="verificarStatusIntegracao">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="verificarStatusIntegracaoResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarNfse">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="cancelarNfse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="cancelarNfseResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarNfseRps">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="consultarNfseRps">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="consultarNfseRpsResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opcoesDeEmissaoNFSEEmpresa">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="opcoesDeEmissaoNFSEEmpresa">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="opcoesDeEmissaoNFSEEmpresaResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPdfRest">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="consultarPdfRest">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="consultarPdfRestResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gerarNfse">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="gerarNfse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="gerarNfseResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarLoteRpsSincrono">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="enviarLoteRpsSincrono">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="enviarLoteRpsSincronoResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarLoteRps">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="consultarLoteRps">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="consultarLoteRpsResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opcoesDeEmissaoNFSEContribuinte">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="opcoesDeEmissaoNFSEContribuinte">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="opcoesDeEmissaoNFSEContribuinteResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPdfNfseRps">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="consultarPdfNfseRps">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:input>
      <wsdl:output name="consultarPdfNfseRpsResponse">
        <soap:body use="literal" namespace="http://ws.integration.pm.bsit.com.br/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="nfseWS">
    <wsdl:port name="IntegrationNFSEWSImplPort" binding="tns:nfseWSSoapBinding">
      <soap:address location="http://gestaopublica.canedo.bsit-br.com.br/integracao/services/nfseWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>